{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "api.smartling.com",
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "info": {
    "title": "Smartling REST API Reference",
    "description": "The **Smartling API** enables you to automate many of the actions that users ordinarily perform in Smartling's \nweb-based application. It also allows you to build integrations to connect your content sources directly \nwith Smartling.\n",
    "version": "2.0.0",
    "termsOfService": "https://www.smartling.com/about/terms-and-conditions/",
    "contact": {
      "email": "hi@smartling.com",
      "url": "https://developer.smartling.com"
    },
    "x-logo": {
      "url": "smartling_logo.png"
    }
  },
  "externalDocs": {
    "description": "Smartling Docs",
    "url": "https://developer.smartling.com"
  },
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Strings",
      "description": "The Strings API allows you to directly upload strings to a Smartling project and fetch original strings or translations.\n\nFor each string in a Smartling project there is a unique identifier, made by hashing together the parsed string\ntext, variant metadata and, in some cases, namespace. When adding strings via the String API, each string will\nbe unique. If you try to create a string with identical variant metadata and string text to a string that already\nexists in the project, the string will be overwritten."
    },
    {
      "name": "Issues",
      "description": "The Issues API provides methods for creating issues, changing the state of an issue, commenting on an issue and\nrequesting detailed information and reports on issues and comments."
    },
    {
      "name": "Issue watchers",
      "description": "Any email address can be added as a watcher to receive notifications about an issue being opened, commented on, or closed."
    },
    {
      "name": "Glossaries",
      "description": "The Glossary API allows you to create and edit Glossaries in a Smartling account and populate it with Glossary terms. You can also download your Glossaries as CSV or TBX files and import Excel spreadsheets to create new Glossaries.\n\n**Glossary API introduces following limitations on its usage:**\n* Maximum request size is 10MB\n* Maximum file upload size is 10MB\n* Maximum HTTP header size is 128KB\n* For requests that uses pagination, maximum page size is 5000 elements\n* For requests that returns entities by their UIDs - maximum 100 elements\nRate limits:\n* Maximum 5 concurrent requests\n* Maximum rate is 200 requests per 15 seconds window frame"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Basics",
      "tags": [
        "Authentication",
        "Strings"
      ]
    },
    {
      "name": "Files",
      "tags": [
        "Original Files",
        "Translated Files"
      ]
    },
    {
      "name": "Context",
      "tags": [
        "Contexts",
        "Bindings"
      ]
    },
    {
      "name": "Translation Issues",
      "tags": [
        "Issues",
        "Issue comments",
        "Issue watchers"
      ]
    },
    {
      "name": "Glossaries",
      "tags": [
        "Glossaries"
      ]
    }
  ],
  "paths": {
    "/auth-api/v2/authenticate": {
      "post": {
        "description": "Authenticates the user with a User Identifier and Secret. Returns an access token that can be attached to the header of any API request to authenticate the user, and a refresh token which can be used to obtain a new access token.\n\nTo obtain `userIdentifier` and `userSecret` log in to `Smartling > API > Create Token`.\n\nSee [\"How to Authenticate\" article](https://developer.smartling.com/docs/how-to-authenticate) for more details.",
        "summary": "Authenticate",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Authentication Request",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Access and refresh tokens",
            "schema": {
              "$ref": "#/definitions/AuthenticationResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "accessToken": "b816424c-2e95-11e7-93ae-92361f002671",
                    "refreshToken": "c0a6f410-2e95-11e7-93ae-92361f002671",
                    "expiresIn": 480,
                    "refreshExpiresIn": 3660,
                    "tokenType": "Bearer"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/auth-api/v2/authenticate/refresh": {
      "post": {
        "description": "Returns a renewed access token that can be attached to the header of any API request to authenticate the user, and a refresh token which can be used to obtain a new access token.",
        "summary": "Refresh access token",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthenticationRefreshRequest"
            },
            "description": "Refresh token request"
          }
        ],
        "responses": {
          "200": {
            "description": "Access and refresh tokens",
            "schema": {
              "$ref": "#/definitions/AuthenticationResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file": {
      "post": {
        "summary": "Upload a file",
        "description": "Upload original source content to Smartling\n\n**Example**\n```bash\n  curl -X POST -H \"Authorization: Bearer {token}\" -F \"file=@file.properties;type=text/plain\" -F \"fileUri=file.properties\"  -F \"fileType=javaProperties\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/file'\n```\n",
        "tags": [
          "Original Files"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uid"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "The file contents to upload"
          },
          {
            "name": "fileUri",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Value that uniquely identifies the uploaded file. This ID can be used to request the file back. We recommend you use file path + file name, similar to how version control systems identify the file. Example: /myproject/i18n/ui.properties\n"
          },
          {
            "name": "fileType",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the file type",
            "enum": [
              "android",
              "ios",
              "gettext",
              "html",
              "javaProperties",
              "yaml",
              "xliff",
              "xml",
              "json",
              "docx",
              "pptx",
              "xlsx",
              "idml",
              "qt",
              "resx",
              "plaintext",
              "cvs",
              "srt",
              "stringsdict"
            ]
          },
          {
            "name": "authorize",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Determines whether content in the file is authorized (available for translation) in all locales upon submitting the file via the Smartling Dashboard. An error message will return if there are insufficient translation funds and authorized is set to true. If a string has been completely excluded for translation from all languages, or excluded from translation for a specific language, ```authorize``` will NOT authorize it. Note: to specify a limited list of locales to authorize, use the ```localeIdsToAuthorize[]``` parameter\n\n  Value | Description\n  -- | --\n  true |  Content will be available for translation in all locales on upload\n  false |  Content will be added to the \"Awaiting Authorization\" queue on upload\n"
          },
          {
            "name": "localeIdsToAuthorize[]",
            "in": "formData",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "This value, if set, authorizes strings for translation into specific locales. Use the project/locale/list call to get the list of locales for the project or see them in the dashboard on the API settings page. Use multiple ```localeIdsToAuthorize``` parameter pairs to authorize more than one locale. You can add languages by uploading the file again and indicating the language to authorize with ```localeIdsToAuthorize``` or all languages with ```authorize```, or in the dashboard using the \"Show Partially Authorized\" filter option from the Awaiting Authorization list. If string has been completely excluded for translation from all languages, or excluded from translation for a specific language, localesIdsToAuthorize will NOT authorize it. **Note**: Do not set the ```authorize``` parameter to TRUE if you want to specify individual locales to authorize. Submitting an upload with both of these parameters set will result in a validation error.\n"
          },
          {
            "name": "smartling.namespace",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "For accounts created after July 31st 2015 only. Define a custom [namespace](https://developer.smartling.com/v1.0/docs/string-sharing-namespaces) for the file. This works for Application Resource Files only. For Business Documents, see [Update File](https://developer.smartling.com/v1.0/docs/managing-business-documents). **Note**: while this parameter shares the format of other file directives, it will not work as an inline directive and must be specified in the API call.\n"
          },
          {
            "name": "smartling.file_charset",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Specifies a custom charset for text-format files. The value should be the name of the character set. See a full list of supported character sets here.\n\nIf this directive is not used, Smartling will use the ```Content-Type``` request header to determine if the content is encoded with UTF-16, UTF-16B or UTF-16LE. If there is no ```Content-Type``` header, Smartling will examine the file for UTF-16 characters. If none are detected, UTF-8 encoding will be used.\n\n**Note**: Once this property has been set for a file, it cannot be changed. If you reupload the file, it will use the original charset, even if you change the directive. An error will be returned if this directive is used when uploading binary-format file types, such as Office or IDML files.\n"
          },
          {
            "name": "smartling.[command]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Provides custom parser configuration for supported file types. See [Supported File Types](https://developer.smartling.com/docs/supported-file-types) for more details.\n"
          },
          {
            "name": "callbackUrl",
            "in": "formData",
            "required": false,
            "type": "string",
            "format": "url",
            "description": "A GET request that creates a callback to a URL when a file is 100% published for a locale. The callback gives the fileUri and locale with the format ```http[/s]://your.url?locale=xx-XX&fileUri=your.file```. If you upload the file again, without a callbackUrl, it will remove any previous callbackUrl for that file. The RequestBin (http://requestb.in) service is a convenient way to test callback. RequestBin generates a short-lived disposable URL that displays all posted requests.\n\nIf a callback fails, Smartling will make multiple attempts to reach the designated URL, however, we do not keep retrying a failed callback indefinitely. Try to make sure your callback URL is as stable as possible and be aware that callbacks are not a 100% reliable way of being notified that a file is published.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Files API Upload success response",
            "schema": {
              "$ref": "#/definitions/FilesAPIUploadSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "overWritten": true,
                    "stringCount": 10,
                    "wordCount": 2
                  }
                }
              }
            }
          },
          "202": {
            "description": "If the upload has begun but is taking more than a minute to complete",
            "schema": {
              "$ref": "#/definitions/FilesAPIUploadAcceptedResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "message": "Your file was successfully uploaded. Word and string counts are not available right now."
                  }
                }
              }
            }
          },
          "400": {
            "description": "If something specific was wrong with the request parameters provided.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials were not valid.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "423": {
            "description": "The requested file is currently being processed by another operation. The file will be unlocked after the operation completes.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "RESOURCE_LOCKED",
                  "errors": {
                    "key": "resource.locked",
                    "message": "The file is currently being processed and will be available in a few minutes."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests per project or file.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "summary": "Download an original file",
        "description": "Download the original version of the requested file from Smartling\n\n**Example**\n```bash\n  curl -H \"Authorization: Bearer {token}\" \"https://api.smartling.com/files-api/v2/projects/{projectId}/file?fileUri={your-file-URI}\"\n```\n\nIt is important to check the HTTP response status code. If Smartling finds and returns the file normally, you will receive a 200 SUCCESS response. If you receive any other response status code than 200, the requested file will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests for that file will have a character encoding of UTF-16. All other uploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get request to determine the character encoding.\n\nThe filename is based on the fileUri associated with the requested file. In most cases, the filename is exactly the fileUri provided. The only exception to this is with .pot gettext files. When a .pot file is specified as the fileUri, Smartling returns a .po file.\n  \n",
        "tags": [
          "Original Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Value that uniquely identifies the downloaded file"
          }
        ],
        "responses": {
          "200": {
            "description": "Download original file",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file/status": {
      "get": {
        "summary": "Status of the file for each locale",
        "description": "Return information on a specific file\n\n**Example**\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/file/status?fileUri=file.properties'\n```\n",
        "tags": [
          "Translated Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Smartling value that uniquely identifies a file in Smartling"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FilesAPIStatusAllLocalesSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "fileUri": "/files/test_translation_import.csv",
                    "lastUploaded": "2017-09-06T20:29:15Z",
                    "created": "2017-09-06T20:29:15Z",
                    "fileType": "csv",
                    "parserVersion": 4,
                    "hasInstructions": false,
                    "directives": {
                      "file_uri_as_namespace": "true"
                    },
                    "namespace": {
                      "name": "/files/test_trans_import.csv"
                    },
                    "totalStringCount": 1,
                    "totalWordCount": 1,
                    "totalCount": 1,
                    "items": [
                      {
                        "localeId": "ru-RU",
                        "authorizedStringCount": 0,
                        "authorizedWordCount": 0,
                        "completedStringCount": 0,
                        "completedWordCount": 0,
                        "excludedStringCount": 0,
                        "excludedWordCount": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/locales/{localeId}/file/status": {
      "get": {
        "summary": "Status of the file for a single locale",
        "description": "Return detailed status information on a specific file\n\n**Example**\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/locales/{localeId}/file/status?fileUri=file.properties'\n```\n",
        "tags": [
          "Translated Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "localeId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Smartling value that uniquely identifies a file in Smartling"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FilesAPIStatusSingleLocaleSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "fileUri": "/files/4.properties",
                    "lastUploaded": "2017-05-27T12:45:36Z",
                    "created": "2017-05-27T12:45:36Z",
                    "fileType": "javaProperties",
                    "parserVersion": 4,
                    "hasInstructions": false,
                    "directives": null,
                    "namespace": null,
                    "totalStringCount": 5,
                    "totalWordCount": 9,
                    "authorizedStringCount": 4,
                    "authorizedWordCount": 5,
                    "completedStringCount": 0,
                    "completedWordCount": 0,
                    "excludedStringCount": 0,
                    "excludedWordCount": 0
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/locales/{localeId}/file": {
      "get": {
        "summary": "Download translated file",
        "description": "Download the requested file from Smartling\n\nIt is important to check the HTTP response status code. If Smartling finds and returns the file normally, you will receive a 200 SUCCESS response. If you receive any other response status code than 200, the requested file will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests for that file will have a character encoding of UTF-16. All other uploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get request to determine the character encoding.\n\n**Example**\n```bash\n  curl -H \"Authorization: Bearer {token}\" \"https://api.smartling.com/files-api/v2/projects/{projectId}/locales/{localeId}/file?fileUri={your-file-Uri}\"\n```\n",
        "tags": [
          "Translated Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "localeId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Value that uniquely identifies the downloaded file"
          },
          {
            "name": "retrievalType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Determines the desired format for the download. Applies to translated files only.\n\n| retrievalType | Description |\n|---------------|-------------|\n| pending | Smartling returns any translations (including non-published translations)|\n| published | Smartling returns only published/pre-published translations.|\n| pseudo | Smartling returns a modified version of the original text with certain characters transformed and the text expanded. For example, the uploaded string \"This is a sample string\", will return as \"T~hís ~ís á s~ámpl~é str~íñg\". Pseudo translations enable you to test how a longer string integrates into your application|\n| contextMatchingInstrumented | Smartling returns a modified version of the original file with strings wrapped in a specific set of Unicode symbols that can later be recognized and matched by the Chrome Context Capture Extension|\n",
            "enum": [
              "pending",
              "published",
              "pseudo",
              "contextMatchingInstrumented"
            ]
          },
          {
            "name": "includeOriginalStrings",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether Smartling will return the original string or an empty string where no translation is available. This parameter is supported for gettext, java properties, custom XML, and JSON files only\n\n| Value | Description |\n|-------|-------------|\n| true | If there is no translation, Smartling returns the original string |\n| false | If there is no translation, Smartling returns an empty string |\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Download file translated to specified locale\n\n**Note**: The filename in response is based on the fileUri associated with the requested file. In most cases, the filename is exactly the fileUri provided. The only exception to this is with .pot gettext files. When a .pot file is specified as the fileUri, Smartling returns a .po file\n",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/locales/all/file/zip": {
      "get": {
        "summary": "Download all translations of the file",
        "description": "Download a ZIP archive with all translations for the requested file.\n\nUnlike \"Download translated file\" endpoint you get a ZIP archive with all translations of a specific file.\n\nIt is important to check the HTTP response status code. If Smartling finds and returns the file normally, you will receive a 200 SUCCESS response. If you receive any other response status code than 200, the requested files will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests for that file will have a character encoding of UTF-16. All other uploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get request to determine the character encoding.\n\n**Example**\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/locales/all/file/zip?fileUri=yourfile.json&retrievalType=published'\n```\n",
        "tags": [
          "Translated Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Smartling value that uniquely identifies a file in Smartling"
          },
          {
            "name": "retrievalType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "pending",
              "published",
              "pseudo",
              "contextMatchingInstrumented"
            ],
            "description": "Determines the desired format for the download. Applies to translated files only.\n\n| retrievalType | Description |\n|---------------|-------------|\n| pending | Smartling returns any translations (including non-published translations)|\n| published | Smartling returns only published/pre-published translations.|\n| pseudo | Smartling returns a modified version of the original text with certain characters transformed and the text expanded. For example, the uploaded string \"This is a sample string\", will return as \"T~hís ~ís á s~ámpl~é str~íñg\". Pseudo translations enable you to test how a longer string integrates into your application|\n| contextMatchingInstrumented | Smartling returns a modified version of the original file with strings wrapped in a specific set of Unicode symbols that can later be recognized and matched by the Chrome Context Capture Extension|\n"
          },
          {
            "name": "includeOriginalStrings",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether Smartling will return the original string or an empty string where no translation is available. This parameter is supported for gettext, java properties, custom XML, and JSON files only\n\n| Value | Description |\n|-------|-------------|\n| true | If there is no translation, Smartling returns the original string |\n| false | If there is no translation, Smartling returns an empty string |\n"
          },
          {
            "name": "zipFileName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Name for the downloaded zip file. If unset, default is ```translations.zip```"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/files/zip": {
      "get": {
        "summary": "Download multiple translated files",
        "description": "Download ZIP archive with the requested translated files.\n\nUnlike \"Download all translations of the file\" you can specify multiple file URIs and locale IDs to select which\nfiles and languages you want to download.\n\nIt is important to check the HTTP response status code. If Smartling finds and returns the file normally, you will receive a 200 SUCCESS response. If you receive any other response status code than 200, the requested files will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests for that file will have a character encoding of UTF-16. All other uploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get request to determine the character encoding.\n\n**Example**\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/files/zip?localeIds[]=de-DE&fileUris[]=yourfile.json'\n```\n",
        "tags": [
          "Translated Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileUris[]",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Smartling Values that each uniquely identify a file"
          },
          {
            "name": "localeIds[]",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "List of locales to download"
          },
          {
            "name": "retrievalType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "pending",
              "published",
              "pseudo",
              "contextMatchingInstrumented"
            ],
            "description": "Determines the desired format for the download. Applies to translated files only.\n\n| retrievalType | Description |\n|---------------|-------------|\n| pending | Smartling returns any translations (including non-published translations)|\n| published | Smartling returns only published/pre-published translations.|\n| pseudo | Smartling returns a modified version of the original text with certain characters transformed and the text expanded. For example, the uploaded string \"This is a sample string\", will return as \"T~hís ~ís á s~ámpl~é str~íñg\". Pseudo translations enable you to test how a longer string integrates into your application|\n| contextMatchingInstrumented | Smartling returns a modified version of the original file with strings wrapped in a specific set of Unicode symbols that can later be recognized and matched by the Chrome Context Capture Extension|\n"
          },
          {
            "name": "includeOriginalStrings",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether Smartling will return the original string or an empty string where no translation is available. This parameter is supported for gettext, java properties, custom XML, and JSON files only\n\n| Value | Description |\n|-------|-------------|\n| true | If there is no translation, Smartling returns the original string |\n| false | If there is no translation, Smartling returns an empty string |\n"
          },
          {
            "name": "fileNameMode",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNCHANGED",
              "TRIM_LEADING",
              "LOCALE_LAST"
            ],
            "description": "Determines how files in the zip file will be named. If not set, the full original file path will be used as the filename\n\n| fileNameMode | Description |\n|--------------|-------------|\n| UNCHANGED | Full original file path is used |\n| TRIM_LEADING | Remove all except the last path segment. e.g. ```/en/strings/nav.properties``` becomes ```nav.properties```|\n| LOCALE_LAST | Adds a locale folder to the file path directly before the filename. e.g. ```/strings/nav.properties``` becomes ```/strings/en/nav.properties``` |\n"
          },
          {
            "name": "localeMode",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "LOCALE_IN_PATH",
              "LOCALE_IN_NAME",
              "LOCALE_IN_NAME_AND_PATH"
            ],
            "description": "Determines how locales will be handled in the downloaded zip\n\n| localeMode | Description |\n|------------|-------------|\n| LOCALE_IN_PATH | Locale code is added to the end of the file path. e.g. ```/strings/es-ES/nav.properties``` |\n| LOCALE_IN_NAME | Locale code is added to the end of the file name e.g. ```/strings/nav_es-ES.properties``` |\n| LOCALE_IN_NAME_AND_PATH | Locale code is added to both the path and the filename. e.g. ```/strings/es-ES/nav_es-ES.properties``` |\n"
          },
          {
            "name": "zipFileName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Name for the downloaded zip file. If unset, default is ```translations.zip```"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/files/list": {
      "get": {
        "summary": "List Files",
        "description": "List recently uploaded files\n\nReturns a maximum of 500 files.\n\n**Example**\n```bash\n  curl -H \"Authorization: Bearer {token}\" \"https://api.smartling.com/files-api/v2/projects/{projectId}/files/list?fileTypes[]=json&uriMask=strings\"\n```\n",
        "tags": [
          "Original Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "uriMask",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return only files with a URI containing the given substring. Case is ignored. For example, the value ```.json``` will match ```strings.json``` and ```STRINGS.JSON``` but not ```json.strings```"
          },
          {
            "name": "fileTypes[]",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "android",
                "ios",
                "gettext",
                "html",
                "javaProperties",
                "yaml",
                "xliff",
                "xml",
                "json",
                "docx",
                "pptx",
                "xlsx",
                "idml",
                "qt",
                "resx",
                "plaintext",
                "cvs",
                "srt",
                "stringsdict"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "lastUploadedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "YYYY-MM-DDThh:mm:ssZ",
            "description": "Return all files uploaded after the specified date"
          },
          {
            "name": "lastUploadedBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "YYYY-MM-DDThh:mm:ssZ",
            "description": "Return all files uploaded before the specified date"
          },
          {
            "name": "orderBy",
            "in": "query",
            "type": "string",
            "description": "Sets the name and direction of the parameter to order results by. If ascending or descending is not specified, the default is ascending",
            "enum": [
              "created",
              "fileUri",
              "lastUploaded",
              "created_asc",
              "created_desc",
              "fileUri_asc",
              "fileUri_desc",
              "lastUploaded_asc",
              "lastUploaded_desc"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 500,
            "description": "See [Limit and Offset](https://developer.smartling.com/v1.0/docs/list-get-1). In order to get consistent pagination, please make sure to specify the ```orderBy``` parameter\n"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "See [Limit and Offset](https://developer.smartling.com/v1.0/docs/list-get-1)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FilesAPIListFilesSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "totalCount": 2,
                    "items": [
                      {
                        "fileUri": "/files/translation_import.csv",
                        "created": "2017-09-06T20:29:15Z",
                        "lastUploaded": "2017-09-06T20:29:15Z",
                        "fileType": "csv",
                        "hasInstructions": false
                      },
                      {
                        "fileUri": "/files/4.properties",
                        "created": "2017-05-27T12:45:36Z",
                        "lastUploaded": "2017-05-27T12:45:36Z",
                        "fileType": "javaProperties",
                        "hasInstructions": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file-types": {
      "get": {
        "summary": "List File Types",
        "description": "Return a list of all file types currently represented in the project\n",
        "tags": [
          "Original Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FilesAPIListFileTypesSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "items": [
                      "csv",
                      "javaProperties"
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file/rename": {
      "post": {
        "summary": "Rename",
        "description": "Rename an uploaded file by changing the fileUri. After renaming the file, the file will only be identified by the new fileUri you provide\n\n**Example**\n```bash\n  curl -X POST -H \"Authorization: Bearer {token}\" -F \"fileUri=filename.properties\" -F \"newFileUri=filename2.properties\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/file/rename'\n```\n",
        "tags": [
          "Original Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileUri",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Current value that uniquely identifies the file"
          },
          {
            "name": "newFileUri",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The new value for fileUri. We recommend that you use file path + file name, similar to how version control systems identify the file. Example: /myproject/i18n/ui.properties. This must be a fileUri that does not exist in the current Smartling project.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": null
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file/delete": {
      "post": {
        "summary": "Delete",
        "description": "Remove the file from Smartling. The file will no longer be available for download. Any complete translations for the file remain available for use within the system.\n\nSmartling deletes files asynchronously and it typically takes a few minutes to complete. While deleting a file, you can not upload a file with the same fileUri.\n\n**Example**\n```bash\n  curl -X POST -H \"Authorization: Bearer {token}\" -F \"fileUri=filename.properties\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/file/delete'\n```\n",
        "tags": [
          "Original Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileUri",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Smartling value that uniquely identifies a file in Smartling"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": null
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/locales/{localeId}/file/last-modified": {
      "get": {
        "summary": "Last modified date for a single locale",
        "description": "Return the date a file was last modified in a specified locale\n\n**Example**\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/locales/{localeId}/file/last-modified?fileUri=filename.properties'\n```\n",
        "tags": [
          "Translated Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "localeId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Smartling value that uniquely identifies a file in Smartling"
          },
          {
            "name": "lastModifiedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "YYYY-MM-DDThh:mm:ssZ",
            "description": "Limits the return to only those file and locale combinations that have a ```lastModified``` date after the parameter ```lastModifiedAfter```. The items array will be empty if the file has not been modified in any of the locales since the lastModifiedAfter date specified."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FilesAPILastModifiedSingleLocaleSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "localeId": "ru-RU",
                    "lastModified": "2017-09-06T20:25:18Z"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file/last-modified": {
      "get": {
        "summary": "Last modified date for each locales",
        "description": "Return the date a file was last modified in a each locale\n\n**Example**\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/file/last-modified?fileUri=filename.properties'\n```\n",
        "tags": [
          "Translated Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Smartling value that uniquely identifies a file in Smartling"
          },
          {
            "name": "lastModifiedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "YYYY-MM-DDThh:mm:ssZ",
            "description": "Limits the return to only those file and locale combinations that have a ```lastModified``` date after the parameter ```lastModifiedAfter```. The items array will be empty if the file has not been modified in any of the locales since the lastModifiedAfter date specified."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FilesAPILastModifiedAllLocalesSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "totalCount": 1,
                    "items": [
                      {
                        "localeId": "ru-RU",
                        "lastModified": "2017-09-06T20:25:18Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/locales/{localeId}/file/import": {
      "post": {
        "summary": "Import translations",
        "description": "\n**Example**\n```bash\n  curl -X POST -H \"Authorization: Bearer {token}\" -F \"file=@filename.properties\" -F 'fileUri=filename.properties' -f fileType=javaProperties -F translationState=PUBLISHED 'https://api.smartling.com/files-api/v2/projects/{projectId}/locales/{localeId}/file/import'\n```\n",
        "tags": [
          "Translated Files"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "localeId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "The file contents to upload"
          },
          {
            "name": "fileUri",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The Smartling URI for file that contains the original language strings already uploaded to Smartling"
          },
          {
            "name": "fileType",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the file type. To allow translation imports, XML and JSON files must be uploaded with source_key_paths defined",
            "enum": [
              "android",
              "ios",
              "gettext",
              "html",
              "javaProperties",
              "yaml",
              "xliff",
              "xml",
              "json",
              "docx",
              "pptx",
              "xlsx",
              "idml",
              "qt",
              "resx",
              "plaintext",
              "cvs",
              "srt",
              "stringsdict"
            ]
          },
          {
            "name": "translationState",
            "in": "formData",
            "required": true,
            "type": "string",
            "enum": [
              "PUBLISHED",
              "POST_TRANSLATION"
            ],
            "description": "Value indicating the workflow state to import the translations into. Content will be imported into the language's default workflow\n\n| Value | Description |\n|-------|-------------|\n| PUBLISHED | The translated content is published |\n| POST_TRANSLATION | The translated content is imported into the first step after translation - if there are none, it will be published |\n"
          },
          {
            "name": "overwrite",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Whether or not to overwrite existing translations"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FilesAPITranslationImportSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "wordCount": 6,
                    "stringCount": 3,
                    "translationImportErrors": []
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/locales/{localeId}/file/get-translations": {
      "post": {
        "summary": "Export translations",
        "description": "Temporarily uploads a file, then returns a translated version for requested locales.\n\nThis call can be used instead of a standard upload/download if you keep different versions of a file in multiple branches or are triggering rebuilds, and don’t want your files in Smartling to be overwritten by out-of-date versions of a file.\n\nTo use the call, you upload a file and identify the Smartling URI where the main version of that file is saved. Smartling will match strings shared between the uploaded file and the main file and return any available translations.\n\n\n**Example**\n```bash\n  curl -X POST -H \"Authorization: Bearer {token}\" -F \"file=@filename.properties\" -F 'fileUri=filename.properties' 'https://api.smartling.com/files-api/v2/projects/{projectId}/locales/{localeId}/file/get-translations'\n```\n",
        "tags": [
          "Translated Files"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "localeId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "The file contents to upload"
          },
          {
            "name": "fileUri",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The Smartling URI for file that contains the original language strings already uploaded to Smartling"
          },
          {
            "name": "retrievalType",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "pending",
              "published",
              "pseudo",
              "contextMatchingInstrumented"
            ],
            "description": "Determines the desired format for the download. Applies to translated files only.\n\n| retrievalType | Description |\n|---------------|-------------|\n| pending | Smartling returns any translations (including non-published translations)|\n| published | Smartling returns only published/pre-published translations.|\n| pseudo | Smartling returns a modified version of the original text with certain characters transformed and the text expanded. For example, the uploaded string \"This is a sample string\", will return as \"T~hís ~ís á s~ámpl~é str~íñg\". Pseudo translations enable you to test how a longer string integrates into your application|\n| contextMatchingInstrumented | Smartling returns a modified version of the original file with strings wrapped in a specific set of Unicode symbols that can later be recognized and matched by the Chrome Context Capture Extension|\n"
          },
          {
            "name": "includeOriginalStrings",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether Smartling will return the original string or an empty string where no translation is available. This parameter is supported for gettext, java properties, custom XML, and JSON files only\n\n| Value | Description |\n|-------|-------------|\n| true | If there is no translation, Smartling returns the original string |\n| false | If there is no translation, Smartling returns an empty string |\n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/context-api/v2/projects/{projectId}/contexts": {
      "post": {
        "summary": "Upload new context.",
        "description": "The Upload Context endpoint request body takes the form of a **multi-part post request**,\nwith each part having it's own content type, e.g. for **HTML** context:\n```\n  POST /context-api/v2/projects/a06b5c7e1/contexts HTTP/1.1\n  Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW\n\n  ------WebKitFormBoundary7MA4YWxkTrZu0gW\n  Content-Disposition: form-data; name=\"content\"; filename=\"context.html\"\n  Content-Type: text/html\n\n  <!DOCTYPE html>\n  <html lang=\"en\">\n  <head>\n      <title>Page title</title>\n  </head>\n  <body>\n      <div class=\"sl-translate\">\n          <p>String 1</p>\n      </div>\n      <div class=\"sl-translate\">\n          <p>String 2</p>\n      </div>\n  </body>\n  </html>\n\n  ------WebKitFormBoundary7MA4YWxkTrZu0gW\n  Content-Disposition: form-data; name=\"name\"\n\n  /path/to/custom_context-name.html\n  ------WebKitFormBoundary7MA4YWxkTrZu0gW--\n```\nFor **VIDEO** context, \"content\" part should be omitted and the \"name\" part should contain the public link to video:\n```\n  POST /context-api/v2/projects/a06b5c7e1/contexts HTTP/1.1\n  Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW\n\n  ------WebKitFormBoundary7MA4YWxkTrZu0gW\n  Content-Disposition: form-data; name=\"name\"\n\n  http://video.domain.com/path_to_video.mp4\n  ------WebKitFormBoundary7MA4YWxkTrZu0gW--\n```",
        "tags": [
          "Contexts"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "content",
            "description": "The context file part with content type. Supported content types are image/\\* and text/html.",
            "in": "formData",
            "required": true,
            "type": "file"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Optional parameter that overrides the file name of *content* part."
          }
        ],
        "responses": {
          "200": {
            "description": "Created context object",
            "schema": {
              "$ref": "#/definitions/ContextResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "contextUid": "6e66fe6b-b508-4849-9e65-1e502d65755d",
                    "contextType": "IMAGE",
                    "name": "image.png",
                    "created": "2017-05-03T20:47:38Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "requestId": "2b963af9-c1bc-4f9e-80b6-0d6cb8fa55cf",
                  "data": {
                    "errors": [
                      {
                        "key": "wrong_parameters",
                        "message": "Check request parameters, error message - 'Content stream is required for this context.', ref id: 'af4706d9-c5c1-40aa-93e4-1ec3498c1f05'"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "summary": "List contexts for project",
        "description": "Returns a list of metadata for all context files in a project, including the unique ID, type of context, file name and created date. Response is limited to *100* items, to retreive all items the request should be repeated with **offset** parameter specified.",
        "tags": [
          "Contexts"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "nameFilter",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Optional filter for context names"
          },
          {
            "name": "offset",
            "description": "If your original request returns an offset value, the set of results is incomplete. Run the request again, with the given offset value to see more results. When offset is null, there are no more results to return.",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "enum": [
              "IMAGE",
              "HTML",
              "VIDEO"
            ],
            "required": false,
            "description": "Optional context type filter."
          }
        ],
        "responses": {
          "200": {
            "description": "List of contexts, no content included.",
            "schema": {
              "$ref": "#/definitions/ContextListResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "items": [
                      {
                        "name": "image.png",
                        "contextType": "IMAGE",
                        "contextUid": "6e66fe6b-b508-4849-9e65-1e502d65755d",
                        "created": "2016-12-19T17:28:29Z"
                      },
                      {
                        "contextUid": "ac79677f-0e0a-4d01-b4e3-b94e2e6ba09c",
                        "contextType": "IMAGE",
                        "name": "image-context.jpg",
                        "created": "2016-11-11T13:23:32Z"
                      }
                    ],
                    "offset": null
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/context-api/v2/projects/{projectId}/contexts/{contextUid}": {
      "get": {
        "summary": "View context metadata",
        "description": "Retrieves basic context information.",
        "tags": [
          "Contexts"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "contextUid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Basic context information.",
            "schema": {
              "$ref": "#/definitions/ContextResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "contextUid": "6e66fe6b-b508-4849-9e65-1e502d65755d",
                    "contextType": "VIDEO",
                    "name": "http://custom-video-hosting.com/path/to/video.mp4",
                    "created": "2017-05-03T20:47:38Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Context not found error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "NOT_FOUND_ERROR",
                  "errors": [
                    {
                      "key": "not_found_error",
                      "message": "Context not found, ref id: 'ffd90ec4-5ca8-4720-8ecf-15dce3404823'"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete the context.",
        "description": "Removes the context and all associated bindings of this context to strings.",
        "tags": [
          "Contexts"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "contextUid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful delete response.",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": null
                }
              }
            }
          },
          "404": {
            "description": "Context not found error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "NOT_FOUND_ERROR",
                  "errors": [
                    {
                      "key": "not_found_error",
                      "message": "Context not found, ref id: 'ffd90ec4-5ca8-4720-8ecf-15dce3404823'"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/context-api/v2/projects/{projectId}/contexts/{contextUid}/content": {
      "get": {
        "summary": "Download content of the context file.",
        "description": "Returns binary image data for **IMAGE** context,\nhtml document with *bindings anchors* for **HTML** context.\nEmpty response for **VIDEO** context.",
        "tags": [
          "Contexts"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "contextUid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Previously uploaded context (i.e. image file, or html file).",
            "schema": {
              "type": "file"
            },
            "examples": {
              "text/html": "<html>\n  <head>\n    <title>Document title</title>\n  </head>\n  <body>\n    <div data-sl-anchor=\"11\">html file contents</div>\n  </body>\n</html>"
            }
          },
          "404": {
            "description": "Context not found error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "NOT_FOUND_ERROR",
                  "errors": [
                    {
                      "key": "not_found_error",
                      "message": "Context not found, ref id: 'ffd90ec4-5ca8-4720-8ecf-15dce3404823'"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/context-api/v2/projects/{projectId}/contexts/upload-and-match-async": {
      "post": {
        "summary": "Upload new context and run automatic context matching.",
        "description": "A combination of two requests:\n- post /projects/{projectId}/contexts\n- post /projects/{projectId}/contexts/{contextUid}/match/async\nIf the matching process returns no bindings the context wouldn't be created.\nSupports only **HTML** context.",
        "tags": [
          "Contexts"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "content",
            "description": "The context file part with content type. Supported content types are image/\\* and text/html.",
            "in": "formData",
            "required": true,
            "type": "file"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Optional parameter that overrides the file name of *content* part."
          },
          {
            "name": "matchParams",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "A part containing JSON object with an array of string hashcodes to match against. If the part content is missing, or empty array is passed, *all strings in the project* will be included in the match. This part contains the same parameters as a body of `/projects/{projectId}/contexts/{contextUid}/match/async` request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AsyncMatchResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "matchId": "ffd90ec4-5ca8-4720-8ecf-15dce3404823"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "requestId": "2b963af9-c1bc-4f9e-80b6-0d6cb8fa55cf",
                  "data": {
                    "errors": [
                      {
                        "key": "wrong_parameters",
                        "message": "Check request parameters, error message - 'Content stream is required for this context.', ref id: 'af4706d9-c5c1-40aa-93e4-1ec3498c1f05'"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/context-api/v2/projects/{projectId}/contexts/{contextUid}/match/async": {
      "post": {
        "summary": "Run automatic context matching.",
        "description": "Automatically matches a Context against strings in the project and creates corresponding bindings.\nOptical Character Recognition (OCR) is used for **IMAGE** context, while **HTML** context uses approximate string matching algorithm.\nOptionally, you can restrict matching to only a set of strings that you specify to ensure that no unwanted bindings are created.\nThis is a convenience method provided to save time and complexity in your integration.\nWhile our OCR functionality is advanced, it cannot match 100% of strings.\nIf you need complete context coverage, either use the manual Create Bindings request or check your context images in the Smartling Dashboard after running this request to fill in any blanks.\nBe mindful of the limitations of OCR if you are using an unusual or script-like font.",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Contexts"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "contextUid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "matchRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MatchRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AsyncMatchResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "matchId": "ffd90ec4-5ca8-4720-8ecf-15dce3404823"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": [
                    {
                      "key": "wrong_parameters",
                      "message": "Check request parameters, error message - 'Context with Uid=cb081827-2daa-4611-915c-4d207829be27 doesn't exist', ref id: '11f8b832-8154-4e6e-a196-a69a88009736'",
                      "details": null
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "General error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/context-api/v2/projects/{projectId}/match/{matchId}": {
      "get": {
        "summary": "Retrieve asynchronous match results",
        "description": "Check the status of the match request and get results once the match is completed.\nWhen the match has been completed, any newly created bindings are also returned in the response.",
        "tags": [
          "Contexts"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "matchId",
            "description": "Identifier of the match request obtained when running asynchronous match request.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for the completed match request.",
            "schema": {
              "$ref": "#/definitions/AsyncMatchStatsResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "matchId": "a9308883-30c7-4832-a023-6c3b10f6f9b1",
                    "createdDate": "2017-05-05T19:06:22Z",
                    "modifiedData": "2017-05-05T19:06:22Z",
                    "status": "COMPLETED",
                    "bindings": [
                      {
                        "bindingUid": "a9308883-30c7-4832-a023-6c3b10f6f9b1",
                        "contextUid": "428bf090-60fa-473d-ac07-4a551aa06c47",
                        "stringHashcode": "374825f7d147fb5700f23b2b22d6660d",
                        "anchors": [
                          "11",
                          "custom.anchor"
                        ]
                      },
                      {
                        "bindingUid": "a9308883-30c7-4832-a023-6c3b10f6f9b1",
                        "contextUid": "428bf090-60fa-473d-ac07-4a551aa06c47",
                        "stringHashcode": "374825f7d147fb5700f23b2b22d6660d",
                        "anchors": [
                          "12"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found response for the match request that is not found or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "NOT_FOUND_ERROR",
                  "errors": [
                    {
                      "key": "not_found",
                      "message": "Match not found"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/context-api/v2/projects/{projectId}/bindings/{bindingUid}": {
      "delete": {
        "summary": "Remove binding.",
        "description": "Deletes a context binding. The context referenced by the binding will no longer be displayed for the referenced string in the Translation Interface.",
        "tags": [
          "Bindings"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "bindingUid",
            "description": "Unique identifier for the binding you want to delete",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": null
                }
              }
            }
          },
          "404": {
            "description": "Not found response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "NOT_FOUND_ERROR",
                  "errors": [
                    {
                      "key": "not_found_error",
                      "message": "Binding not found"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/context-api/v2/projects/{projectId}/contexts/{contextUid}/bindings": {
      "get": {
        "summary": "Return all bindings for the context.",
        "description": "Return all bindings that reference a given piece of context.",
        "tags": [
          "Bindings"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "contextUid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/BindingsResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "totalCount": 1,
                    "items": [
                      {
                        "bindingUid": "d6414f8c-4gdf-4415-9a69-f8e7902ca9ec",
                        "contextUid": "25137b65-e075-4341-8362-14b1a3e558f5",
                        "stringHashcode": "bd603147d945h3ec74d6874422ebe4e0",
                        "coordinates": {
                          "top": 50,
                          "left": 50,
                          "bottom": 400,
                          "right": 400
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Context not found error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "NOT_FOUND_ERROR",
                  "errors": [
                    {
                      "key": "not_found_error",
                      "message": "Context not found, ref id: 'ffd90ec4-5ca8-4720-8ecf-15dce3404823'"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/context-api/v2/projects/{projectId}/strings/{stringHashcode}/bindings": {
      "get": {
        "summary": "Get bindings for the string",
        "description": "Return all bindings that reference a given string.",
        "tags": [
          "Bindings"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "stringHashcode",
            "description": "Hashcode for the string you want to get bindings for.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "hash"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BindingsResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "totalCount": 1,
                    "items": [
                      {
                        "bindingUid": "d6414f8c-4gdf-4415-9a69-f8e7902ca9ec",
                        "contextUid": "25137b65-e075-4341-8362-14b1a3e558f5",
                        "stringHashcode": "bd603147d945h3ec74d6874422ebe4e0",
                        "coordinates": {
                          "top": 50,
                          "left": 50,
                          "bottom": 400,
                          "right": 400
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/context-api/v2/projects/{projectId}/bindings": {
      "post": {
        "summary": "Create bindings.",
        "description": "Link context images with the strings they contain. The binding tells Smartling which context images to show translators for which strings.\nA maximum of **150** bindings can be created per request. A request with more than **150** items will return a **400** response indicating validation error.\nBasic bindings request should contain an object with \"bindings\" JSON array with at least one element (binding), featuring *contextUid* and *stringHashcode* properties:\n```JSON\n{\n  \"bindings\": [\n    {\n       \"contextUid\": \"25137b65-e075-4341-8362-14b1a3e558f5\",\n       \"stringHashcode\": \"bd603147d945h3ec74d6874422ebe4e0\"\n    }\n  ]\n}\n```\nFor **IMAGE** context, each binding may have additional *coordinates* data, which specifies rectangular area, where the string is located in the image. If not specified, binding will still be created with coordinates [0,0,0,0]:\n```JSON\n{\n  \"bindings\": [\n    {\n       \"contextUid\": \"25137b65-e075-4341-8362-14b1a3e558f5\",\n       \"stringHashcode\": \"bd603147d945h3ec74d6874422ebe4e0\",\n       \"coordinates\": {\n          \"top\": 50,\n          \"left\": 50,\n          \"width\": 400,\n          \"height\": 400\n       }\n    }\n  ]\n}```\nFor **HTML** context, each binding may have the *anchors* array, specifying the enclosing the string HTML elements with the corresponding value of the *data-sl-anchor* attribute. If not specified, binding will still be created with the empty *anchors* array:\n```JSON\n{\n  \"bindings\": [\n    {\n       \"contextUid\": \"25137b65-e075-4341-8362-14b1a3e558f5\",\n       \"stringHashcode\": \"bd603147d945h3ec74d6874422ebe4e0\",\n       \"selector\": {\n          \"anchors\": [\"custom.anchor\", \"11\", 44\"]\n       }\n    }\n  ]\n}```\nFor **VIDEO** context, each binding mave the *timecode* data, specifying the start and end time of the string appearance in the video:\n```JSON\n{\n  \"bindings\": [\n    {\n        \"contextUid\": \"25137b65-e075-4341-8362-14b1a3e558f5\",\n        \"stringHashcode\": \"bd603147d945h3ec74d6874422ebe4e0\",\n        \"timecode\": {\n           \"startTime\": 1203,\n           \"endTime\": 1450\n        }\n    }\n  ]\n}```",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Bindings"
        ],
        "parameters": [
          {
            "name": "projectId",
            "description": "Project ID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "description": "String-to-context JSON bindings",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BindingsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bindings",
            "schema": {
              "$ref": "#/definitions/CreateBindingsResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "totalCount": 1,
                    "items": [
                      {
                        "bindingUid": "d6414f8c-4gdf-4415-9a69-f8e7902ca9ec",
                        "contextUid": "25137b65-e075-4341-8362-14b1a3e558f5",
                        "stringHashcode": "bd603147d945h3ec74d6874422ebe4e0",
                        "coordinates": {
                          "top": 50,
                          "left": 50,
                          "bottom": 400,
                          "right": 400
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": [
                    {
                      "key": "wrong_parameters",
                      "message": "Please, limit number of bindings to no more than 150 in one request"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/context-api/v2/projects/{projectId}/contexts/{contextUid}/match": {
      "post": {
        "summary": "**DEPRECATED** Run automatic match.",
        "description": "Automatically matches a Context Image against strings in the project using Optical Character Recognition (OCR) for **IMAGE** context and creates bindings for any found matches.\nOptionally, you can restrict OCR matching to only a set of strings that you specify to ensure that no unwanted bindings are created.\nThis is a convenience method provided to save time and complexity in your integration. While our OCR functionality is advanced, it cannot match 100% of strings.\nIf you need complete context coverage, either use the manual Create Bindings request or check your context images in the Smartling Dashboard after running this request to fill in any blanks.\nBe mindful of the limitations of OCR if you are using an unusual or script-like font.\n**DEPRECATED** in favor of asynchronous matching.",
        "tags": [
          "Bindings"
        ],
        "deprecated": true,
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "contextUid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "matchRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Added bindings and matched but not bound strings",
            "schema": {
              "$ref": "#/definitions/MatchResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "newBindings": [
                      {
                        "bindingUid": "fc2azc89-f0fc-43c4-9c3a-8e6u0521b092",
                        "contextUid": "456efpe5-0bf5-4482-365f-a0nce127abb0",
                        "stringHashcode": "4d70a525c0e49fe8a3b43e5b76ae33d9",
                        "coordinates": {
                          "top": 114,
                          "left": 589,
                          "height": 33,
                          "width": 346
                        }
                      },
                      {
                        "bindingUid": "4c0a343c-d361-4315-9580-60cdfed3dc37",
                        "contextUid": "456ef9e5-0zf5-4382-b65f-a00ce127abb0",
                        "stringHashcode": "e5a03bi0d4cd78e1c29bde61e6898fa1",
                        "coordinates": {
                          "top": 55,
                          "left": 16,
                          "height": 20,
                          "width": 90
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/issues-api/v2/dictionary/issue-types": {
      "get": {
        "summary": "List all issue types",
        "description": "This request returns all current issue types. Smartling may occasionally add or change the list of allowed issue types.",
        "tags": [
          "Issues"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "totalCount": 2,
                    "items": [
                      {
                        "description": "Source",
                        "issueTypeCode": "SOURCE",
                        "subTypes": [
                          {
                            "issueSubTypeCode": "CLARIFICATION",
                            "description": "Clarification"
                          },
                          {
                            "issueSubTypeCode": "MISSPELLING",
                            "description": "Misspelling"
                          }
                        ]
                      },
                      {
                        "description": "Translation",
                        "issueTypeCode": "TRANSLATION",
                        "subTypes": [
                          {
                            "issueSubTypeCode": "POOR_TRANSLATION",
                            "description": "Poor Translation"
                          },
                          {
                            "issueSubTypeCode": "DOES_NOT_FIT_SPACE",
                            "description": "Doesn't Fit Space"
                          },
                          {
                            "issueSubTypeCode": "PLACEHOLDER_ISSUE",
                            "description": "Placeholder Issue"
                          },
                          {
                            "issueSubTypeCode": "GENERAL_ISSUE",
                            "description": "General Issue"
                          },
                          {
                            "issueSubTypeCode": "REVIEW_TRANSLATION",
                            "description": "Revieanslation"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues-api/v2/dictionary/issue-states": {
      "get": {
        "summary": "List all issue states",
        "description": "Currently the only allowed issue states are `OPENED` and `RESOLVED` but Smartling may introduce additional states in future. This request returns all current allowed states.",
        "tags": [
          "Issues"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "totalCount": 2,
                    "items": [
                      {
                        "description": "Opened",
                        "issueStateCode": "OPENED"
                      },
                      {
                        "description": "Resolved",
[...]
