openapi: 3.0.1
info:
  title: Smartling Webhooks API
  description: API for managing webhooks subscriptions and events
  contact:
    name: Smartling Team
    email: support@smartling.com
  version: 1.0.0
servers:
  - url: https://api.smartling.com
paths:
  /webhooks-api/v2/accounts/{accountUid}/subscriptions:
    get:
      tags:
        - Subscriptions
      summary: Get subscriptions
      description: Retrieve all webhook subscriptions for the specified account.
      operationId: getSubscriptions
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResponse'
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
    post:
      tags:
        - Subscriptions
      summary: Create subscription
      description: Create a new webhook subscription for the specified account.
      operationId: createSubscription
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionCommand'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
  /webhooks-api/v2/accounts/{accountUid}/subscriptions/{subscriptionUid}:
    get:
      tags:
        - Subscriptions
      summary: Get subscription
      description: Retrieve details of a specific webhook subscription.
      operationId: getSubscription
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
    delete:
      tags:
        - Subscriptions
      summary: Delete subscription
      description: Delete a webhook subscription permanently.
      operationId: deleteSubscription
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
  /webhooks-api/v2/accounts/{accountUid}/available-event-types:
    get:
      tags:
        - Event Types
      summary: Get available event types
      description: Retrieve all available webhook event types for the account.
      operationId: getAvailableEventTypes
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeListResponse'
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
  /webhooks-api/v2/accounts/{accountUid}/subscriptions/{subscriptionUid}/patch:
    post:
      tags:
        - Subscriptions
      summary: Patch subscription
      description: Update specific fields of a webhook subscription.
      operationId: patchSubscription
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchSubscriptionCommand'
      responses:
        '200':
          description: Success
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
  /webhooks-api/v2/accounts/{accountUid}/subscriptions/{subscriptionUid}/secret:
    get:
      tags:
        - Subscriptions
      summary: Get subscription secret
      description: Retrieve the secret key for webhook signature verification.
      operationId: getSubscriptionSecret
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionSecretCommand'
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'

    put:
      tags:
        - Subscriptions
      summary: Update subscription secret
      description: Update the secret key used for webhook signature verification.
      operationId: updateSubscriptionSecret
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionSecretCommand'
      responses:
        '200':
          description: Success
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
  /webhooks-api/v2/accounts/{accountUid}/subscriptions/{subscriptionUid}/statistics:
    get:
      tags:
        - Subscriptions
      summary: Get subscription statistics
      description: Retrieve delivery statistics for a webhook subscription.
      operationId: getSubscriptionStatistics
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionStatisticsResponse'
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
  /webhooks-api/v2/accounts/{accountUid}/subscriptions/{subscriptionUid}/enable:
    post:
      tags:
        - Subscriptions
      summary: Enable subscription
      description: Enable a webhook subscription to start receiving events.
      operationId: enableSubscription
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
  /webhooks-api/v2/accounts/{accountUid}/subscriptions/{subscriptionUid}/disable:
    post:
      tags:
        - Subscriptions
      summary: Disable subscription
      description: Disable a webhook subscription to stop receiving events.
      operationId: disableSubscription
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
  /webhooks-api/v2/accounts/{accountUid}/subscriptions/{subscriptionUid}/events:
    get:
      tags:
        - Events
      summary: Get subscription events
      description: Retrieve webhook delivery events for a given subscription with optional filters and pagination.
      operationId: getSubscriptionEvents
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
            example: "111222333"
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
            example: "111122223333"
        - name: limit
          in: query
          description: Maximum number of items to return (1–100).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            example: 50
        - name: scrollId
          in: query
          description: Scroll identifier returned by a previous request, used for pagination.
          required: false
          schema:
            type: string
            example: "2639c663-5cf3-4f08-b15d-6799366109ab"
        - name: attemptStatus
          in: query
          description: Filter events by their last attempt delivery status.
          required: false
          schema:
            type: string
            enum: [ SUCCESS, PENDING, FAIL, SENDING ]
            example: "SUCCESS"
        - name: createdDateBefore
          in: query
          description: Filter events created before this date (ISO 8601 format).
          required: false
          schema:
            type: string
            format: date-time
            example: "2025-07-01T13:35:34Z"
        - name: createdDateAfter
          in: query
          description: Filter events created after this date (ISO 8601 format).
          required: false
          schema:
            type: string
            format: date-time
            example: "2025-07-01T13:35:34Z"
        - name: eventTypes[]
          in: query
          description: Filter by one or more event types.
          required: false
          schema:
            type: array
            items:
              type: string
              example: "file.published"
          style: form
          explode: true
      responses:
        "200":
          description: Successful response with list of webhook events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        eventId:
                          type: string
                          format: uuid
                          description: Unique event identifier.
                          example: "2639c663-5cf3-4f08-b15d-6799366109ab"
                        eventType:
                          type: string
                          description: Event type identifier.
                          example: "file.published"
                        createdDate:
                          type: string
                          format: date-time
                          description: Timestamp when the event was created.
                          example: "2025-07-01T13:35:33Z"
                        lastAttemptStatus:
                          type: string
                          enum: [ SUCCESS, PENDING, FAIL, SENDING ]
                          description: Latest delivery attempt status for this event.
                          example: "SUCCESS"
                      required:
                        - eventId
                        - eventType
                        - createdDate
                        - lastAttemptStatus
                  hasMore:
                    type: boolean
                    description: Whether there are more events available.
                    example: false
                  scrollId:
                    type: string
                    nullable: true
                    description: Scroll identifier to fetch the next batch of results.
                    example: "2639c663-5cf3-4f08-b15d-6799366109ab"
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
  /webhooks-api/v2/accounts/{accountUid}/subscriptions/{subscriptionUid}/events/{eventId}:
    get:
      tags:
        - Events
      summary: Get event
      description: Retrieve details of a specific webhook event.
      operationId: getEvent
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
        - name: eventId
          in: path
          required: true
          description: Unique identifier of the event.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventSchema:
                    type: object
                    example: "...."
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
  /webhooks-api/v2/accounts/{accountUid}/subscriptions/{subscriptionUid}/events/{eventId}/attempts:
    get:
      tags:
        - Events
      summary: Get event attempts
      description: Retrieve all delivery attempts for a specific webhook event.
      operationId: getEventAttempts
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
        - name: eventId
          in: path
          required: true
          description: Unique identifier of the event.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttemptsListResponse'
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'
  /webhooks-api/v2/accounts/{accountUid}/subscriptions/{subscriptionUid}/events/{eventId}/send:
    post:
      tags:
        - Events
      summary: Resend event
      description: Manually trigger a retry for a webhook event delivery.
      operationId: resendEvent
      parameters:
        - name: accountUid
          in: path
          required: true
          description: The account's unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.
          schema:
            type: string
        - name: subscriptionUid
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
        - name: eventId
          in: path
          required: true
          description: Unique identifier of the event.
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          $ref: '#/components/responses/Error400ResponseDefinition'
        '401':
          $ref: '#/components/responses/Error401ResponseDefinition'
        '404':
          $ref: '#/components/responses/Error404ResponseDefinition'
        '429':
          $ref: '#/components/responses/Error429ResponseDefinition'
        '500':
          $ref: '#/components/responses/Error500ResponseDefinition'

components:
  responses:
    Error400ResponseDefinition:
      description: Provided request parameters are invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error401ResponseDefinition:
      description: Authentication failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error404ResponseDefinition:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error429ResponseDefinition:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error500ResponseDefinition:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    SubscriptionListResponse:
      type: object
      properties:
        response:
          type: object
          properties:
            data:
              type: object
              properties:
                totalCount:
                  type: integer
                  example: 1
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/SubscriptionDTO'
    SubscriptionResponse:
      type: object
      properties:
        response:
          type: object
          properties:
            data:
              $ref: '#/components/schemas/SubscriptionDTO'
    SubscriptionDTO:
      type: object
      properties:
        subscriptionUid:
          type: string
          example: "111122223333"
        subscriptionName:
          type: string
          example: "SourceIssue Created Subscription"
        subscriptionUrl:
          type: string
          format: uri
          example: "https://myurl.com/webhooks"
        accountUid:
          type: string
          example: "111222333"
        enabled:
          type: boolean
          example: true
        userUid:
          type: string
          example: "111122223333"
        description:
          type: string
          example: "My subscription"
        createdDate:
          type: string
          format: date-time
          example: "2025-09-10T19:00:00Z"
        requestHeaders:
          type: array
          items:
            type: object
            properties:
              headerName:
                type: string
                example: "CustomHeader1"
              headerValue:
                type: string
                example: "HeaderValue1"
            required:
              - headerName
              - headerValue
        events:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                example: "sourceIssue.comment.created"
              schemaVersion:
                type: string
                example: "1.0"
            required:
              - type
              - schemaVersion
        projectUids:
          type: array
          items:
            type: string
          example: [ "111222333" ]
    CreateSubscriptionCommand:
      type: object
      properties:
        subscriptionName:
          type: string
          description: Display name for the subscription.
          example: "SourceIssue Created Subscription"
        subscriptionUrl:
          type: string
          description: HTTPS endpoint that will receive webhook deliveries.
          example: "https://myurl.com/webhooks"
        description:
          type: string
          description: Human-readable description.
          example: "My subscription"
        payloadSecret:
          type: string
          writeOnly: true
          description: Secret used to sign webhook deliveries.
          example: "mySuperLongAndSecurePayloadSecret"
        requestHeaders:
          type: array
          description: Custom HTTP headers to include with each delivery.
          items:
            type: object
            additionalProperties: false
            properties:
              headerName:
                type: string
                example: "CustomHeader1"
              headerValue:
                type: string
                example: "HeaderValue1"
            required:
              - headerName
              - headerValue
        events:
          type: array
          minItems: 1
          description: Event types to subscribe to.
          items:
            type: object
            additionalProperties: false
            properties:
              type:
                type: string
                example: "sourceIssue.comment.created"
              schemaVersion:
                type: string
                example: "1.0"
            required:
              - type
              - schemaVersion
        projectUids:
          type: array
          description: Optional list of project scopes. Empty or missing means all projects under the account.
          items:
            type: string
            example: "111222333"
      required:
        - subscriptionName
        - subscriptionUrl
        - events
    EventTypeListResponse:
      type: object
      properties:
        response:
          type: object
          properties:
            data:
              type: object
              properties:
                totalCount:
                  type: string
                  example: 1
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/EventTypeDTO'
    EventTypeDTO:
      type: object
      properties:
        eventType:
          type: string
        description:
          type: string
        schema:
          type: object
          example: ...
    PatchSubscriptionCommand:
      type: object
      properties:
        subscriptionName:
          type: string
          description: Display name for the subscription.
          example: "SourceIssue Created Subscription"
        description:
          type: string
          description: Human-readable description.
          example: "My subscription"
        requestHeaders:
          type: array
          description: Custom HTTP headers to include with each delivery.
          items:
            type: object
            additionalProperties: false
            properties:
              headerName:
                type: string
                example: "CustomHeader1"
              headerValue:
                type: string
                example: "HeaderValue1"
            required:
              - headerName
              - headerValue
        events:
          type: array
          minItems: 1
          description: Event types to subscribe to.
          items:
            type: object
            additionalProperties: false
            properties:
              type:
                type: string
                example: "sourceIssue.comment.created"
              schemaVersion:
                type: string
                example: "1.0"
            required:
              - type
              - schemaVersion
        projectUids:
          type: array
          description: Optional list of project scopes. Empty or missing means all projects under the account.
          items:
            type: string
            example: "111222333"
    UpdateSubscriptionSecretCommand:
      type: object
      properties:
        payloadSecret:
          type: string
          description: Secret used to sign webhook deliveries.
          example: "mySuperLongAndSecurePayloadSecret"
    SubscriptionStatisticsResponse:
      type: object
      additionalProperties: false
      description: Statistics summary for a specific subscription, representing delivery outcomes.
      properties:
        failEvents:
          type: integer
          format: int64
          description: Number of webhook events that failed to deliver after all retries.
          example: 0
        pendingEvents:
          type: integer
          format: int64
          description: Number of webhook events waiting to be processed or retried.
          example: 0
        sendingEvents:
          type: integer
          format: int64
          description: Number of webhook events currently being delivered.
          example: 0
        successEvents:
          type: integer
          format: int64
          description: Number of webhook events successfully delivered.
          example: 0
      required:
        - failEvents
        - pendingEvents
        - sendingEvents
        - successEvents
    AttemptsListResponse:
      type: object
      additionalProperties: false
      properties:
        totalCount:
          type: integer
          format: int64
          minimum: 0
          description: Total number of attempts matching the query.
          example: 1
        items:
          type: array
          description: Page of delivery attempts.
          items:
            type: object
            additionalProperties: false
            properties:
              attemptId:
                type: string
                description: Unique identifier of the attempt.
                example: "atmpt_35BMZB5jYVpNpnZ2kTfBK8Hwi0d"
              eventId:
                type: string
                format: uuid
                description: Identifier of the related event.
                example: "4c88083c-9135-450f-b724-67d9a811c855"
              response:
                type: string
                description: Raw response body returned by the destination endpoint (as a string).
                example: "{\"success\":false,\"error\":{\"message\":\"Token \\\"3a4f060c-e7ec-4269-bcec-125327d0950d\\\" not found\",\"id\":\"\"}}"
              responseDurationMs:
                type: integer
                format: int64
                minimum: 0
                description: Time taken for the destination to respond, in milliseconds.
                example: 414
              responseStatusCode:
                type: integer
                minimum: 100
                maximum: 599
                description: HTTP status code returned by the destination.
                example: 404
              attemptStatus:
                type: string
                description: Final status of this attempt.
                enum: [ SUCCESS, PENDING, FAIL, SENDING ]
                example: "FAIL"
              attemptDate:
                type: string
                format: date-time
                description: Timestamp when the attempt was made.
                example: "2025-11-08T05:17:44Z"
              url:
                type: string
                format: uri
                description: Destination URL used for this attempt.
                example: "https://myurl.site/webhooks"
              triggerType:
                type: string
                description: What triggered this attempt (e.g., scheduled retry, immediate send).
                example: "SCHEDULED"
            required:
              - attemptId
              - eventId
              - response
              - responseDurationMs
              - responseStatusCode
              - attemptStatus
              - attemptDate
              - url
              - triggerType
      required:
        - totalCount
        - items
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: string
    ValidationErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            validationErrors:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
