{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "support@smartling.com"
    },
    "description": "Before you begin using the Smartling APIs, we recommend going through our [Developer documentation](https://help.smartling.com/hc/en-us/categories/1260801686149).\n",
    "termsOfService": "https://www.smartling.com/about/terms-and-conditions/",
    "title": "Smartling REST API Reference",
    "version": "2.0.0",
    "x-logo": {
      "url": "smartling_logo.png"
    }
  },
  "servers": [
    {
      "url": "https://api.smartling.com"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Smartling uses OAuth2 for [authentication](https://help.smartling.com/hc/en-us/articles/1260805176849).\nTo access the Smartling APIs, you'll first need to authenticate with your\nuser identifier and user secret. An access token is returned that can be\nattached to the header of any API request. A refresh token is also returned.\n\nTo obtain your [user identifier and user secret](https://help.smartling.com/hc/en-us/articles/115004187694),\nlog in to Smartling.com and go to **API > Create Token**. Authenticating is as\nsimple as calling the `/api.smartling.com/auth-api/v2/authenticate` with\nyour `userIdentifier` and `userSecret`. The access token returned is valid\nfor 5-minutes, and is used in the header of all subsequent requests.\n\n**Example for generating your access token:**\n\n```bash\ncurl -X POST https://api.smartling.com/auth-api/v2/authenticate  -H 'content-type: application/json' -d '{\"userIdentifier\": \"userIdasdklj4348dk34!\", \"userSecret\": \"userSecret34i34kkd5634f\"}'\n```\n\n```\n{\n    \"response\": {\n        \"code\": \"SUCCESS\",\n        \"data\": {\n                \"accessToken\": \"eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOasdlkjn\",\n                \"refreshToken\": \"eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOiJkMTdkMmEw\",\n                \"expiresIn\": 480,\n                \"refreshExpiresIn\": 3660,\n                \"tokenType\": \"Bearer\"\n        }\n    }\n}\n```\n\n**Example of using your access token to list all projects for your account:**\n\n```bash\ncurl -X GET -H \"Authorization: Bearer {accessToken}\" https://api.smartling.com/accounts-api/v2/accounts/{accountUid}/projects\n```\n\n```\n{\n    \"response\": {\n        \"code\": \"SUCCESS\",\n        \"data\": {\n            \"totalCount\": 1,\n            \"items\": [{\n                         \"projectId\": \"df324sdf5\",\n                         \"projectName\": \"iOS Strings files\",\n                         \"accountUid\": \"ab5f1939\",\n                         \"archived\": false,\n                         \"projectTypeCode\": \"APPLICATION_RESOURCES\",\n                         \"sourceLocaleId\": \"en\",\n                         \"sourceLocaleDescription\": \"English\"\n                     }\n            ]\n        }\n    }\n}\n```"
    },
    {
      "name": "Account & Projects",
      "description": "Each client within Smartling is given their own account with a designated\n`accountUid`. Within each account is any number of projects. All files,\ncontent, and jobs are tied to a particular project. The Accounts &\nProjects API will allow you to programmatically find and use the projects\nwithin your account.\n\nYou may wish to reference the [Key Concepts for\nDevelopers](https://help.smartling.com/hc/en-us/articles/1260805481390) article\nto better understand how content is organized within Smartling."
    },
    {
      "name": "Locales",
      "description": "Locales are the language and country pairs that are used to identify the\nsource content and the desired target locale for your translated content."
    },
    {
      "name": "People",
      "description": "Smartling users, who process and translate content with the Smartling platform."
    },
    {
      "name": "Files",
      "description": "Files are typically how you can exchange your content with Smartling to\nget translations. Smartling supports a wide variety of [file\ntypes](https://help.smartling.com/hc/en-us/articles/360007998893). When\nyou upload a file to Smartling, it gets parsed into strings, which will\nthen be sent into the translation queue.\n\nThe complete list of supported file types is available [here](https://help.smartling.com/hc/en-us/articles/360007998893). For information on file directives, please refer to the documentation for each specific file type."
    },
    {
      "name": "Machine Translation (MT)",
      "description": "The Smartling platform offers state-of-the-art [Machine Translation capabilities](https://www.smartling.com/software/neural-machine-translation-hub/) through its synchronous account-level Machine Translation API. This API enables seamless translation of content without the need for it to be processed through Smartling Workflows. The API offers access to all MT Profiles, including the highly efficient MT Autoselect feature, providing unparalleled flexibility and control over your translation needs."
    },
    {
      "name": "File Machine Translations (MT)",
      "description": "The File Translations API offers a simple way to upload files and execute actions on them without any complex setup required. All resource-intensive actions are performed asynchronously and return an actionUid. By polling the API with the provided actionUid, you can easily monitor the progress of your file-based tasks in real time."
    },
    {
      "name": "Jobs",
      "description": "A Smartling project (such as a mobile, web, files, or connector project)\nmay contain one or more\n[jobs](https://help.smartling.com/hc/en-us/articles/1260805481390). You may\nhave multiple projects, each containing multiple jobs. Each job contains\nstrings, consisting of words or phrases.\n\nThe Jobs feature allows you to group and prioritize your content by name,\ndue date, description, and reference number (optional). It also enables\nyou to monitor the progress of your translations throughout completion.\n\nThe Jobs API allows you to create a job, add a file to a job, authorize a\njob, and cancel a job, among many other actions. You have full control via\nthe API to manage your job(s)."
    },
    {
      "name": "Job Batches V1",
      "description": "Job batches take care of asynchronous processes when uploading files and\nattaching them to jobs.\n\nGenerally, adding multiple files to a job is associated with polling -\nfile is parsed asynchronously and can't be added to a job until it is\ncompleted, adding file to a job is also asynchronous, and job can't be\nauthorized until all background tasks completed.\n\nThis forces third-party integration poll every file after every step.\n\nBatches hide these asynchronous processes from 3rd party integration -\nafter it accepted file from client it conducts this file through all steps\nup to the Job authorization. As Job Batches Service utilizes internal\nSmartling events it gets more effective than just polling files and jobs.\n\nFrom the client side flow consists of simple steps:\n\n1. Client creates Job (or uses existing one, which isn't currently\nprocessed with another Batch)\n\n2. Client Creates a new Batch for this Job\n\n3. Client adds (uploads) files into the batch giving target locales list\n\n4. When all files are uploaded, client triggers \"execute\" for the batch.\n\n5. Batch execution process waiting until all files are uploaded and added\nto the Job and then, if was requested, authorizes the Job.\n\n6. Clients can check batch status and see if all files uploaded and\nattached successfully, what errors happened for each file, and statistics\nfor added/skipped strings.\n\nAfter Batch is completed it can't be reused.\n\n**Job batches Limitations**\n\n- The service doesn't guarantee the correct processing of multiple batches for the \nsame job in parallel. Adding files to a new batch should only be done \nafter the previous batch has reached the \"completed\" status.\n\n- If the Job or Files are modified in the UI or through another integration,\nthe service cannot guarantee that the Batch will be processed correctly.\n\n- The service retains data for 6 months before permanently deleting it."
    },
    {
      "name": "Job Batches V2",
      "description": "Job batches take care of asynchronous processes when uploading files and\nattaching them to jobs.\n\nGenerally, adding multiple files to a job is associated with polling -\nfile is parsed asynchronously and can't be added to a job until it is\ncompleted. Adding file to a job is also asynchronous, and job can't be\nauthorized until all background tasks completed.\n\nThis forces a third-party integration poll for every file after every step.\n\nBatches hide these asynchronous processes from 3rd party integration -\nafter it accepts the file from the Smartling User, it processes this file\nthrough all steps up to the Job authorization. As Job Batches Service utilizes\ninternal Smartling events it gets more effective than just polling files and jobs.\n\nFrom the Smartling user's perspective, the flow consists of the following simple steps:\n\n1. Create a Job (or uses existing one, which isn't currently\nprocessed with another Batch)\n\n2. Create a new Batch for this Job with the declared list of\nfiles to be uploaded into the Job\n\n3. Upload the files into the batch giving target locales list\nfor each file\n\n4. You can cancel some of the declared files if there is no reason\nin uploading (no translatable content etc.)\n\n5. When all files are uploaded or canceled, \"execute\" is automatically\ntriggered for the batch.\n\n6. Batch execution process waits until all asynchronous processes\nare complete and then, if requested, authorizes the Job for translation.\n\n7. You can check batch status and see if all files have been uploaded and\nattached successfully. You can also see if any errors occurred for each file\nupload and the statistics for ingested/excluded strings.\n\nAfter Batch is completed it can't be reused.\n\n**Job batches Limitations**\n\n- The service doesn't guarantee the correct processing of multiple batches for the \nsame job in parallel. Adding files to a new batch should only be done \nafter the previous batch has reached the \"completed\" status.\n\n- If the Job or Files are modified in the UI or through another integration,\nthe service cannot guarantee that the Batch will be processed correctly.\n\n- The service retains data for 6 months before permanently deleting it."
    },
    {
      "name": "Context",
      "description": "[Visual context](https://help.smartling.com/hc/en-us/articles/360057484273)\nhelps Translators make linguistic, layout, and spacing decisions based on\nwhere strings appear in your mobile or desktop application. The Context\nAPI supports uploading various forms of context (images and HTML), and\nassociate the context with content in Smartling."
    },
    {
      "name": "Issues",
      "description": "The Issues feature is a way for users who are working on a translation\nworkflow to communicate with other users about source content and\ntranslations. For example, a Translator might create an\n[issue](https://help.smartling.com/hc/en-us/articles/115003139313) to ask\na question about terminology in a particular string.\n\nBy using Issues, you can record any communication about a string, and this\ncan be seen by anyone working on it. Issues streamline the translation\nworkflow. Translators get answers to their questions about the original\ncontent so they can translate it quickly and correctly. Translation\nresources can review and provide feedback about translations\ncollaboratively.\n\nThe Issues API provides methods for creating issues, changing the state of\nan issue, commenting on an issue, requesting detailed information, as well\nas creating reports on issues and comments."
    },
    {
      "name": "Strings",
      "description": "A string is a piece of translation. Based on the source content, strings\ncan be parsed differently. A string is then broken down further, into one\nor more segments.\n\nThe Strings API allows you to directly upload strings to a Smartling\nproject and fetch original strings or translations.\n\nFor each string in a Smartling project, there is a unique identifier\ncreated by hashing together the parsed string text, [variant\nmetadata](https://help.smartling.com/hc/en-us/articles/360008143853), and\nin some cases,\n[namespace](https://help.smartling.com/hc/en-us/articles/360008143833).\nWhen adding strings via the Strings API, each string will be unique. If\nyou try to create a string with identical variant metadata and string text\nto a string that already exists in the project, the string will be\noverwritten."
    },
    {
      "name": "Tags",
      "description": "Tags can help you manage your strings. The Tags API allows you to\nadd/remove string tags, and search for tags in a project."
    },
    {
      "name": "Vendors",
      "description": "The Vendors API is for Language Service Providers to view work that's\navailable in Smartling."
    },
    {
      "name": "Reports",
      "description": "The Reports API allows to request various reports available on Smartling\nplatform and specify additional filtering criteria to narrow down data\nreturned by the reports."
    },
    {
      "name": "Attachments",
      "description": "The Attachments API allows for file attachment upload, download and checking linked attachments for an entity.\nAttachment entities can be from three domains: strings, jobs or issues.\nEach entity is referenced by an entity UID. These UIDs have a specific form for each of the domains.\n- jobs: `<jobUid>`\n- issues: `<accountUid>-<issueUid>` or `<accountUid>-<issueUid>-<commentUid>`\n- strings: `<projectUid>:<stringHashcode>`\n\n**Attachments API Usage Limitations**:\n* Maximum attachment size is 500MB."
    },
    {
      "name": "Translation quality checks",
      "description": "The translation quality check service is an API endpoint at which you can check the quality of your translations."
    },
    {
      "name": "Glossary API",
      "description": "During translation process, text may contain specific words, which are very important to has \nconsistent meaning through out the resulted translation for target language. This is usually \nreferenced as terminology, glossary, thesaurus, etc. And one of the vital steps in high-quality\ntranslation is to extract such terms (words/phrases) in a separate set, and define correct \ntranslation to be used during work process. Imagine not correctly translated medical/legal \nterms - or inconsistent translation for the same terms by different translators in one document.\n\n Current section describes glossary manipulation API, such as :\n - glossary manipulation,\n - glossary entries manipulation,\n - import / export (in multiple formats),\n - glossary labels management,\n - etc."
    },
    {
      "name": "Blocklist API",
      "description": "Defines list of terms that should not be used during the translation process.\nBlocklists are tied to glossary functionality.\n\nCurrent section describes blocklists manipulation API, such as :\n - blocklist manipulation,\n - blocklist terms manipulation,\n - import / export (in multiple formats)."
    },
    {
      "name": "Workflow Assignment",
      "description": "The Workflow Assignment API handles workflow step assignments for non agency users."
    }
  ],
  "externalDocs": {
    "description": "Smartling Help Center",
    "url": "https://help.smartling.com"
  },
  "paths": {
    "/auth-api/v2/authenticate": {
      "post": {
        "summary": "Authenticate",
        "description": "Verifies the credentials of the connection attempt.",
        "tags": [
          "Authentication"
        ],
        "operationId": "authenticate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationRequest"
              }
            }
          },
          "description": "Authentication Request",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "accessToken": "b816424c-2e95-11e7-93ae-92361f002671",
                          "expiresIn": 480,
                          "refreshExpiresIn": 3660,
                          "refreshToken": "c0a6f410-2e95-11e7-93ae-92361f002671",
                          "tokenType": "Bearer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "smartlingToken=$(curl -s -X POST -H \"Content-Type: application/json\" \\\n  -d \"{\\\"userIdentifier\\\": \\\"$smartlingId\\\", \\\"userSecret\\\": \\\"$smartlingSecret\\\"}\" \\\n  \"https://api.smartling.com/auth-api/v2/authenticate\" \\\n  | sed -E 's/^.*accessToken\":\"//' | sed -E 's/\",\"refreshToken.*//')\n"
          }
        ]
      }
    },
    "/auth-api/v2/authenticate/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "A [renewed access token](https://help.smartling.com/hc/en-us/articles/1260805176849) that can be attached to the header of any API request.",
        "summary": "Refresh access token",
        "operationId": "refreshAccessToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationRefreshRequest"
              }
            }
          },
          "description": "Refresh token request",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X POST https://api.smartling.com/auth-api/v2/authenticate/refresh \\\n  -H 'content-type: application/json' \\\n  -d '{\"refreshToken\": \"eyJhbGciO...\"}'\n"
          }
        ]
      }
    },
    "/accounts-api/v2/accounts/{accountUid}/projects": {
      "get": {
        "tags": [
          "Account & Projects"
        ],
        "description": "Returns the list of projects for the account.\n",
        "summary": "List projects",
        "operationId": "getProjectsByAccount",
        "parameters": [
          {
            "name": "accountUid",
            "in": "path",
            "required": true,
            "description": "The account’s unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Substring search of the name of the project. Search is case insensitive.",
            "in": "query",
            "name": "projectNameFilter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicator whether or not archived projects should be returned. Defaults to false if not specified.",
            "in": "query",
            "name": "includeArchived",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Standard Smartling limit and offset to paginate through results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Standard Smartling limit and offset to paginate through results. 500 projects are returned by default if not specified.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Indicator for the type of the project.",
            "in": "query",
            "name": "projectTypeCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicator list for the type of the projects.",
            "in": "query",
            "name": "projectTypeCodes",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "items": [
                            {
                              "accountUid": "at724e365",
                              "archived": false,
                              "projectId": "fd7244365",
                              "projectName": "Android XML Content",
                              "projectTypeCode": "APPLICATION_RESOURCES",
                              "sourceLocaleDescription": "English",
                              "sourceLocaleId": "en-US"
                            },
                            {
                              "accountUid": "at724e365",
                              "archived": false,
                              "projectId": "eqb7243x5",
                              "projectName": "Marketing Website GDN",
                              "projectTypeCode": "GDN",
                              "sourceLocaleDescription": "English",
                              "sourceLocaleId": "en-US"
                            }
                          ],
                          "totalCount": 2
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/AccountAPIProjectListSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -H \"Authorization: Bearer $smartlingToken\" https://api.smartling.com/accounts-api/v2/accounts/$smartlingAccountId/projects\n"
          }
        ]
      }
    },
    "/projects-api/v2/projects/{projectId}": {
      "get": {
        "tags": [
          "Account & Projects"
        ],
        "description": "Returns the details of a project.\n",
        "summary": "Get project details",
        "operationId": "getProjectDetails",
        "parameters": [
          {
            "name": "projectId",
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicator whether or not disabled locales configured for the project should be returned as part of the targetLocales. By default disabled target locales are not returned.",
            "in": "query",
            "name": "includeDisabledLocales",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "accountUid": "at724e365",
                          "archived": false,
                          "projectId": "fd7244365",
                          "projectName": "Android XML Content",
                          "projectTypeCode": "APPLICATION_RESOURCES",
                          "sourceLocaleDescription": "English",
                          "sourceLocaleId": "en-US",
                          "targetLocales": [
                            {
                              "description": "German (Germany)",
                              "enabled": true,
                              "localeId": "de-DE"
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetailsSuccessResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -H \"Authorization: Bearer $smartlingToken\" https://api.smartling.com/projects-api/v2/projects/$smartlingProjectId\n"
          }
        ]
      }
    },
    "/projects-api/v2/projects/{projectId}/targetLocales": {
      "post": {
        "summary": "Add a new target locale",
        "tags": [
          "Account & Projects"
        ],
        "description": "Add a new target locale to the project.\n",
        "operationId": "addLocaleToProject",
        "parameters": [
          {
            "name": "projectId",
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "defaultWorkflowUid": {
                    "description": "The default workflow that should be used when content is authorized. If not specified, the default workflow configured for the project will be used.",
                    "example": "ac48ht4qy",
                    "type": "string"
                  },
                  "localeId": {
                    "description": "The locale identifier (localeId) of the locale to be added to the project.",
                    "example": "ru-RU",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetailsSuccessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": [
                          {
                            "accountUid": "at724e365",
                            "archived": false,
                            "projectId": "fd7244365",
                            "projectName": "Android XML Content",
                            "projectTypeCode": "APPLICATION_RESOURCES",
                            "sourceLocaleDescription": "English",
                            "sourceLocaleId": "en-US",
                            "targetLocales": [
                              {
                                "description": "German (Germany)",
                                "enabled": true,
                                "localeId": "de-DE"
                              },
                              {
                                "description": "Russian (Russia)",
                                "enabled": true,
                                "localeId": "ru-RU"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/projects-api/v2/projects/{projectId}/copy": {
      "post": {
        "summary": "Copy an existing project",
        "tags": [
          "Account & Projects"
        ],
        "description": "Make a copy of an existing project, thereby creating a new one with a new name\n",
        "operationId": "copyProject",
        "parameters": [
          {
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "projectName": {
                    "description": "The name of the new project to create.",
                    "example": "New Android Project",
                    "type": "string"
                  },
                  "targetLocaleIds": {
                    "description": "The list of target locales the new project should be created for. Note, each target locale specified must valid within the source project you are copying, i.e. you can copy all or a subset of locales from the source project to the target project.",
                    "example": [
                      "ru-RU"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCopySuccessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "processUid": "7908ae61-3489-48e1-9e28-10652634d34e"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/projects-api/v2/projects/{projectId}/copy/{processUid}": {
      "get": {
        "tags": [
          "Account & Projects"
        ],
        "description": "Used to check if the copy project request is complete and to retrieve the new projectId\n",
        "summary": "Get the status of the project copy request",
        "operationId": "getProjectCopyRequestStatus",
        "parameters": [
          {
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The uid of the process to check for",
            "in": "path",
            "name": "processUid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCopyProcessSuccessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "createdDate": "2016-08-21T0B1:51:17Z",
                          "modifiedDate": "2016-08-21T0B1:51:17Z",
                          "newProjectUid": "8t7q4d643",
                          "processState": "OPEN",
                          "processStatistics": {
                            "errored": 0,
                            "processed": 6,
                            "requested": 8,
                            "skipped": 0
                          },
                          "processuid": "7908ae61-3489-48e1-9e28-10652634d34e"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/locales-api/v2/dictionary/locales": {
      "get": {
        "summary": "List locales",
        "tags": [
          "Locales"
        ],
        "description": "The list of available locales within Smartling.\n\nTo find out the `localedID` for a specific project, refer to [Get project\ndetails](/#operation/getProjectDetails).\n",
        "operationId": "getAvailableLocalesList",
        "parameters": [
          {
            "description": "Optional parameter to filter to the specified list of locales.",
            "in": "query",
            "name": "localeIds",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Fetch only supported locales. Otherwise fetch all locales. Default value is \"true\".",
            "in": "query",
            "name": "supportedOnly",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalesAPISuccessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "items": [
                            {
                              "description": "English",
                              "mtSupported": true,
                              "language": {
                                "description": "English",
                                "direction": "RTL",
                                "languageId": "en",
                                "wordDelimiter": "CHARACTER"
                              },
                              "localeId": "en-US",
                              "direction": "RTL",
                              "country": {
                                "countryId": "US",
                                "description": "United States"
                              }
                            },
                            {
                              "description": "Italian (Italy) [it-IT]",
                              "mtSupported": true,
                              "language": {
                                "description": "Italian",
                                "direction": "RTL",
                                "languageId": "it",
                                "wordDelimiter": "CHARACTER"
                              },
                              "localeId": "it-IT",
                              "direction": "RTL",
                              "country": {
                                "countryId": "IT",
                                "description": "Italy"
                              }
                            }
                          ],
                          "totalCount": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/people-api/v2/users": {
      "post": {
        "summary": "Get list of user information",
        "tags": [
          "People"
        ],
        "description": "Smartling users, who process and translate content with the Smartling platform.\n",
        "operationId": "getUsersList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "userUids": {
                    "description": "List of user uids.",
                    "example": [
                      "ac48ht4qy"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "excludeProfileImage": {
                    "description": "As a performance optimization, exclude the user's profile image.",
                    "example": false,
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleAPIUserInfosSuccessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "items": [
                            {
                              "userUid": "ac48ht4qy",
                              "firstName": "user first name 1",
                              "lastName": "user last name 1",
                              "profileImage": "https://my.gravatar.net/avatar/eeca2d632c1weeeaf5dsd3e32e32ddsasd",
                              "createdDate": 1704110400000
                            }
                          ],
                          "totalCount": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/people-api/v3/accounts/{accountUid}/processes/{processUid}": {
      "get": {
        "summary": "Assignments removal status",
        "description": "Checking state of workflow assignments removal process\n",
        "operationId": "workflowAssignmentsProcess",
        "tags": [
          "Workflow Assignment"
        ],
        "parameters": [
          {
            "name": "accountUid",
            "in": "path",
            "required": true,
            "description": "The account’s unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "schema": {
              "format": "uid",
              "type": "string"
            }
          },
          {
            "name": "processUid",
            "in": "path",
            "required": true,
            "description": "The process unique identifier.",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowAssignmentProcessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "processUid": "67f4287b-895f-4fc6-b672-6e3f376b0cd5",
                          "processState": "RUNNING",
                          "createdDate": "2023-12-11T20:40:30Z",
                          "requested": 10,
                          "processed": 5
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/people-api/v3/accounts/{accountUid}/users/{userUid}/workflow-steps/assign": {
      "post": {
        "summary": "Create Steps Assignment",
        "description": "Create new workflow steps assignment",
        "operationId": "workflowAssignmentsCreate",
        "tags": [
          "Workflow Assignment"
        ],
        "parameters": [
          {
            "name": "accountUid",
            "in": "path",
            "required": true,
            "description": "The account’s unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "schema": {
              "format": "uid",
              "type": "string"
            }
          },
          {
            "name": "userUid",
            "in": "path",
            "required": true,
            "description": "User identifier.",
            "schema": {
              "format": "uid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowAssignmentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowAssignmentCreateResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "totalCount": 10,
                          "items": {
                            "workflowStepUid": "8312172ed60d",
                            "localePais": {
                              "sourceLocaleId": "en-US",
                              "targetLocaleIds": [
                                "fr-FR",
                                "es-ES"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/people-api/v3/accounts/{accountUid}/users/{userUid}/workflow-steps/remove": {
      "post": {
        "summary": "Remove Step Assignments",
        "description": "Schedule workflow steps assignment removal and returns process uid for status check.",
        "operationId": "workflowAssignmentsRemove",
        "tags": [
          "Workflow Assignment"
        ],
        "parameters": [
          {
            "name": "accountUid",
            "in": "path",
            "required": true,
            "description": "The account’s unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "schema": {
              "format": "uid",
              "type": "string"
            }
          },
          {
            "name": "userUid",
            "in": "path",
            "required": true,
            "description": "User identifier.",
            "schema": {
              "format": "uid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "workflowStepAssignments": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/WorkflowAssignmentWorkflowStep"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowAssignmentProcessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "processUid": "67f4287b-895f-4fc6-b672-6e3f376b0cd5",
                          "processState": "RUNNING",
                          "createdDate": "2023-12-11T20:40:30Z",
                          "requested": 10,
                          "processed": 5
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/people-api/v3/accounts/{accountUid}/users/workflow-steps": {
      "post": {
        "summary": "Search For Account Assignments",
        "description": "Search for workflow step assignments within account",
        "operationId": "workflowAssignmentsSearch",
        "tags": [
          "Workflow Assignment"
        ],
        "parameters": [
          {
            "name": "accountUid",
            "in": "path",
            "required": true,
            "description": "The account’s unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "schema": {
              "format": "uid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "workflowStepUids": {
                    "type": "array",
                    "minimum": 0,
                    "maximum": 1000,
                    "description": "Optional workflow steps uids.",
                    "example": [
                      "8312172ed60d",
                      "42121ad3df2c"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "userUid": {
                    "type": "string",
                    "description": "Optional user identifier.",
                    "example": "ac48ht4qy"
                  },
                  "offsetToken": {
                    "type": "string",
                    "description": "Offset token for next data batch or null",
                    "example": "d966008f-c341-4c75-a986-7e25a0135e01"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5000,
                    "description": "Size of batch for single request",
                    "example": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowAssignmentSearchResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "offsetToken": "67f4287b-895f-4fc6-b672-6e3f376b0cd5",
                          "workflowStepUserAssignments": {
                            "userUid": "ac48ht4qy",
                            "roleValue": "ROLE_TRANSLATION_RESOURCE",
                            "agencyUid": null,
                            "workflowStepAssignments": {
                              "workflowStepUid": "8312172ed60d",
                              "localePais": {
                                "sourceLocaleId": "en-US",
                                "targetLocaleIds": [
                                  "fr-FR",
                                  "es-ES"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/people-api/v3/accounts/{accountUid}/users/{userUid}/workflow-steps": {
      "post": {
        "summary": "Search For User Assignments",
        "description": "Search for workflow step assignments for single user",
        "operationId": "workflowAssignmentsUserSearch",
        "tags": [
          "Workflow Assignment"
        ],
        "parameters": [
          {
            "name": "accountUid",
            "in": "path",
            "required": true,
            "description": "The account’s unique identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "schema": {
              "format": "uid",
              "type": "string"
            }
          },
          {
            "name": "userUid",
            "in": "path",
            "required": true,
            "description": "User identifier.",
            "schema": {
              "format": "uid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "offsetToken": {
                    "type": "string",
                    "description": "Offset token for next data batch or null",
                    "example": "67f4287b-895f-4fc6-b672-6e3f376b0cd5"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5000,
                    "description": "Size of batch for single request",
                    "example": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowAssignmentSearchResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "offsetToken": "67f4287b-895f-4fc6-b672-6e3f376b0cd5",
                          "workflowStepUserAssignments": {
                            "userUid": "0d1ff048f7e7",
                            "roleValue": "ROLE_TRANSLATION_RESOURCE",
                            "agencyUid": null,
                            "workflowStepAssignments": {
                              "workflowStepUid": "8312172ed60d",
                              "localePais": {
                                "sourceLocaleId": "en-US",
                                "targetLocaleIds": [
                                  "fr-FR",
                                  "es-ES"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file": {
      "post": {
        "summary": "Upload file",
        "description": "This uploads original source content to Smartling.\n\nThe curl example provided will upload your Java properties file directly\ninto the Smartling project identified by the `projectId`. Smartling will\ningest this file, parse out the keys and text as strings for\ntranslation. At this point, content is ready for translation.\n",
        "operationId": "uploadSourceFile",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "format": "uid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file contents to upload."
                  },
                  "fileUri": {
                    "type": "string",
                    "description": "A value that uniquely identifies the uploaded file. This ID\ncan be used to request the file back. We recommend that you\nuse file path and file name, similar to how version control\nsystems identify the file.\n\nExample: `/myproject/i18n/ui.properties`\n"
                  },
                  "fileType": {
                    "$ref": "#/components/schemas/FileType"
                  },
                  "smartling.namespace": {
                    "type": "string",
                    "description": "This is only for accounts created after July 31st, 2015. Define a custom\n[namespace](https://help.smartling.com/hc/en-us/articles/360008143833)\nfor the file.\n\n**Note**: While this parameter shares the format of other\nfile directives, it will not work as an inline directive and\nmust be specified in the API call.\n"
                  },
                  "smartling.file_charset": {
                    "type": "string",
                    "description": "Specifies a custom charset for text-format files. The value\nshould be the name of the character set. See a full list of\nsupported character sets here.\n\nIf this directive is not used, Smartling will use the\n```Content-Type``` request header to determine if the\ncontent is encoded with UTF-16, UTF-16B or UTF-16LE. If\nthere is no ```Content-Type``` header, Smartling will\nexamine the file for UTF-16 characters. If none are\ndetected, UTF-8 encoding will be used.\n\n**Note**: Once this property has been set for a file, it\ncannot be changed. If you reupload the file, it will use the\noriginal charset, even if you change the directive. An error\nwill be returned if this directive is used when uploading\nbinary-format file types, such as Office or IDML files.\n"
                  },
                  "smartling.[command]": {
                    "type": "string",
                    "description": "Provides custom parser configuration for supported file\ntypes. See [Supported File Types](https://help.smartling.com/hc/en-us/articles/360007998893)\nfor more details.\n"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "maxLength": 255,
                    "format": "url",
                    "description": "A GET request that creates a callback to a URL when all authorized strings from a file are 100%\npublished for a locale.* The callback gives the\nfileUri and locale with the format\n`http[/s]://your.url?locale=xx-XX&fileUri=your.file`. If you\nupload the file again, without a callbackUrl, it will remove\nany previous callbackUrl for that file. The RequestBin\n(http://requestb.in) service is a convenient way to test a\ncallback. RequestBin generates a short-lived disposable URL\nthat displays all posted requests.\n\nIf a callback fails, Smartling will make multiple attempts\nto reach the designated URL. However, we do not keep\nretrying a failed callback indefinitely. Try to make sure\nyour callback URL is as stable as possible and be aware that\ncallbacks are not a 100% reliable way of being notified that\na file is published.\n\nIf the upload has begun but is taking more than a minute to\ncomplete, it responds with a `202` status.\n\n*This is the default behavior. There are cases when the callback could be triggered even when not all authorized strings are published, depending on your project configuration. Contact your Smartling Representative if you have questions about your project’s callback configuration.   \n"
                  }
                },
                "required": [
                  "file",
                  "fileUri",
                  "fileType"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesAPIUploadSuccessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "overWritten": true,
                          "stringCount": 10,
                          "wordCount": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "ACCEPTED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesAPIUploadAcceptedResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "message": "Your file was successfully uploaded. Word and string counts are not available right now."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "423": {
            "description": "The requested file is currently being processed by another operation. The file will be unlocked after the operation completes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error423Response"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "RESOURCE_LOCKED",
                        "errors": {
                          "key": "resource.locked",
                          "message": "The file is currently being processed and will be available in a few minutes."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X POST -H \"Authorization: Bearer $smartlingToken\" -F \"file=@$uploadFilePath;type=text/plain\" -F \"fileUri=$uploadFileSmartlingUri\" -F \"fileType=$uploadFileSmartlingType\" \"https://api.smartling.com/files-api/v2/projects/$smartlingProjectId/file\"\n"
          }
        ]
      },
      "get": {
        "summary": "Download source file",
        "description": "This downloads the original version of the requested file from\nSmartling.\n\nIt is important to check the HTTP response status code. If Smartling\nfinds and returns the file normally, you will receive a `200` SUCCESS\nresponse. If you receive a response status code other than `200`, the\nrequested file will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests\nfor that file will have a character encoding of UTF-16. All other\nuploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get\nrequest to determine the character encoding.\n\nThe filename is based on the fileUri associated with the requested file.\nIn most cases, the filename is exactly the fileUri provided. The only\nexception to this is with .pot gettext files. When a .pot file is\nspecified as the fileUri, Smartling returns a .po file.\n",
        "tags": [
          "Files"
        ],
        "operationId": "downloadSourceFile",
        "parameters": [
          {
            "name": "projectId",
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileUri",
            "description": "Value that uniquely identifies the downloaded file.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -H \"Authorization: Bearer $smartlingToken\" -G --data-urlencode \"fileUri=$smartlingFileUri\" \"https://api.smartling.com/files-api/v2/projects/$smartlingProjectId/file\"\n"
          }
        ]
      }
    },
    "/files-api/v2/projects/{projectId}/file/status": {
      "get": {
        "summary": "Status of file for each locale",
        "tags": [
          "Files"
        ],
        "description": "Returns information on a specific file.\n\n**Example:**\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/file/status?fileUri=file.properties'\n```\n",
        "operationId": "getFileTranslationStatusAllLocales",
        "parameters": [
          {
            "name": "projectId",
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileUri",
            "description": "Smartling value that uniquely identifies a file in Smartling",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesAPIStatusAllLocalesSuccessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "created": "2017-09-06T20:29:15Z",
                          "directives": {
                            "file_uri_as_namespace": "true"
                          },
                          "fileType": "csv",
                          "fileUri": "/files/test_translation_import.csv",
                          "hasInstructions": false,
                          "items": [
                            {
                              "authorizedStringCount": 0,
                              "authorizedWordCount": 0,
                              "completedStringCount": 0,
                              "completedWordCount": 0,
                              "excludedStringCount": 0,
                              "excludedWordCount": 0,
                              "localeId": "ru-RU"
                            }
                          ],
                          "lastUploaded": "2017-09-06T20:29:15Z",
                          "namespace": {
                            "name": "/files/test_trans_import.csv"
                          },
                          "parserVersion": 4,
                          "totalCount": 1,
                          "totalStringCount": 1,
                          "totalWordCount": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/locales/{localeId}/file/status": {
      "get": {
        "summary": "Status of file for a single locale",
        "description": "Returns detailed status information on a specific file.\n\n**Example:**\n```bash\ncurl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/locales/{localeId}/file/status?fileUri=file.properties'\n```\n",
        "tags": [
          "Files"
        ],
        "operationId": "getFileTranslationStatusSingleLocale",
        "parameters": [
          {
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifier for a locale.",
            "in": "path",
            "name": "localeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Smartling value that uniquely identifies a file in Smartling",
            "in": "query",
            "name": "fileUri",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesAPIStatusSingleLocaleSuccessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "authorizedStringCount": 4,
                          "authorizedWordCount": 5,
                          "completedStringCount": 0,
                          "completedWordCount": 0,
                          "created": "2017-05-27T12:45:36Z",
                          "excludedStringCount": 0,
                          "excludedWordCount": 0,
                          "fileType": "javaProperties",
                          "fileUri": "/files/4.properties",
                          "hasInstructions": false,
                          "lastUploaded": "2017-05-27T12:45:36Z",
                          "parserVersion": 4,
                          "totalStringCount": 5,
                          "totalWordCount": 9
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/locales/{localeId}/file": {
      "get": {
        "summary": "Download translated file (single locale)",
        "tags": [
          "Files"
        ],
        "description": "This downloads the requested file from Smartling.\n\nIt is important to check the HTTP response status code. If Smartling\nfinds and returns the file normally, you will receive a `200` SUCCESS\nresponse. If you receive any other response status code other than\n`200`, the requested file will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests\nfor that file will have a character encoding of UTF-16. All other\nuploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get\nrequest to determine the character encoding.\n\n**Note**: The filename in the response header is based on the fileUri\nassociated with the requested file. In most cases, the filename is\nexactly the fileUri provided. The only exception to this is with .pot\ngettext files. When a .pot file is specified as the fileUri, Smartling\nreturns a .po file.`\n",
        "operationId": "downloadTranslatedFileSingleLocale",
        "parameters": [
          {
            "name": "projectId",
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "localeId",
            "description": "Identifier for a locale.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileUri",
            "description": "Value that uniquely identifies the downloaded file",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "retrievalType",
            "description": "Determines the desired format for the download. Applies to translated files only.\n\n| retrievalType | Description |\n|---------------|-------------|\n| pending | Smartling returns any translations (including non-published translations)|\n| published | Smartling returns only published/pre-published translations.|\n| pseudo | Smartling returns a modified version of the original text with certain characters transformed and the text expanded. For example, the uploaded string \"This is a sample string\", will return as \"T~hís ~ís á s~ámpl~é str~íñg\". Pseudo translations enable you to test how a longer string integrates into your application.|\n| contextMatchingInstrumented | Smartling returns a modified version of the original file with strings wrapped in a specific set of Unicode symbols that can later be recognized and matched by the Chrome Context Capture Extension.|\n",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "pending",
                "published",
                "pseudo",
                "contextMatchingInstrumented"
              ],
              "type": "string"
            }
          },
          {
            "name": "includeOriginalStrings",
            "description": "Specifies whether Smartling will return the original string or an\nempty string where no translation is available. This parameter is\nonly supported for Android XML, gettext, Java properties, custom\nXML, JSON, and XLIFF files.\n\n| Value | Description |\n|-------|-------------|\n| true | If there is no translation, Smartling returns the original string. |\n| false | If there is no translation, Smartling returns an empty string. |\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -H \"Authorization: Bearer $smartlingToken\" -o $smartlingLocaleId$smartlingFileUri -G --data-urlencode \"fileUri=$smartlingFileUri\" \"https://api.smartling.com/files-api/v2/projects/$smartlingProjectId/locales/$smartlingLocaleId/file\"\n"
          }
        ]
      }
    },
    "/files-api/v2/projects/{projectId}/locales/all/file/zip": {
      "get": {
        "summary": "Download all translations of file",
        "description": "Download a ZIP archive with all translations for the requested file.\n\nUnlike the \"Download translated file\" endpoint, you get a ZIP archive\nwith all translations of a specific file.\n\nIt is important to check the HTTP response status code. If Smartling\nfinds and returns the file normally, you will receive a `200` SUCCESS\nresponse. If you receive any other response status code than `200`, the\nrequested files will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests\nfor that file will have a character encoding of UTF-16. All other\nuploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get\nrequest to determine the character encoding.\n",
        "tags": [
          "Files"
        ],
        "operationId": "downloadTranslatedFilesAllLocales",
        "parameters": [
          {
            "name": "projectId",
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileUri",
            "description": "Smartling value that uniquely identifies a file in Smartling",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "retrievalType",
            "description": "Determines the desired format for the download. Applies to translated files only.\n\n| retrievalType | Description |\n|---------------|-------------|\n| pending | Smartling returns any translations (including non-published translations).|\n| published | Smartling returns only published/pre-published translations.|\n| pseudo | Smartling returns a modified version of the original text with certain characters transformed, and the text expanded. For example, the uploaded string \"This is a sample string\", will return as \"T~hís ~ís á s~ámpl~é str~íñg\". Pseudo translations enable you to test how a longer string integrates into your application.|\n| contextMatchingInstrumented | Smartling returns a modified version of the original file with strings wrapped in a specific set of Unicode symbols that can later be recognized and matched by the Chrome Context Capture Extension.|\n",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "pending",
                "published",
                "pseudo",
                "contextMatchingInstrumented"
              ],
              "type": "string"
            }
          },
          {
            "name": "includeOriginalStrings",
            "description": "Specifies whether Smartling will return the original string or an\nempty string where no translation is available. This parameter is\nonly supported for Android XML, gettext, Java properties, custom\nXML, and JSON files.\n\n| Value | Description |\n|-------|-------------|\n| true | If there is no translation, Smartling returns the original string. |\n| false | If there is no translation, Smartling returns an empty string. |\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "zipFileName",
            "description": "Name for the downloaded zip file. If unset, the default is ```translations.zip```",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X GET -H \"Authorization: Bearer $smartlingToken\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/locales/all/file/zip?fileUri=yourfile.json&retrievalType=published'\n"
          }
        ]
      }
    },
    "/files-api/v2/projects/{projectId}/files/zip": {
      "get": {
        "summary": "Download multiple translated files",
        "description": "Download ZIP archive with the requested translated files.\n\nUnlike \"Download all translations of the file\" you can specify multiple\nfile URIs (limit is 300 files) and locale IDs to select which files and languages you want to download.\n\nIt is important to check the HTTP response status code. If Smartling\nfinds and returns the file normally, you will receive a `200` SUCCESS\nresponse. If you receive any other response status code than `200`, the\nrequested files will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests\nfor that file will have a character encoding of UTF-16. All other\nuploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get\nrequest to determine the character encoding.\n\n**Example:**\n\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/files/zip?localeIds[]=de-DE&fileUris[]=yourfile.json'\n```\n",
        "tags": [
          "Files"
        ],
        "operationId": "downloadMultipleTranslatedFiles",
        "parameters": [
          {
            "name": "projectId",
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileUris[]",
            "description": "Smartling values that each uniquely identify a file. The limit is 300 files.",
            "explode": true,
            "in": "query",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "name": "localeIds[]",
            "description": "List of locales to download.",
            "explode": true,
            "in": "query",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "name": "retrievalType",
            "description": "Determines the desired format for the download. Applies only to\ntranslated files.\n\n| retrievalType | Description |\n|---------------|-------------|\n| pending | Smartling returns any translations (including non-published translations)|\n| published | Smartling returns only published/pre-published translations.|\n| pseudo | Smartling returns a modified version of the original text with certain characters transformed and the text expanded. For example, the uploaded string \"This is a sample string\", will return as \"T~hís ~ís á s~ámpl~é str~íñg\". Pseudo translations enable you to test how a longer string integrates into your application.|\n| contextMatchingInstrumented | Smartling returns a modified version of the original file with strings wrapped in a specific set of Unicode symbols that can later be recognized and matched by the Chrome Context Capture Extension.|\n",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "pending",
                "published",
                "pseudo",
                "contextMatchingInstrumented"
              ],
              "type": "string"
            }
          },
          {
            "name": "includeOriginalStrings",
            "description": "Specifies whether Smartling will return the original string or an\nempty string where no translation is available. This parameter is\nonly supported for Android XML, gettext, Java properties, custom\nXML, and JSON files.\n\n| Value | Description |\n|-------|-------------|\n| true | If there is no translation, Smartling returns the original string. |\n| false | If there is no translation, Smartling returns an empty string. |\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fileNameMode",
            "description": "Determines how files in the ZIP file will be named. If not set, the\nfull original file path will be used as the filename.\n\n| fileNameMode | Description |\n|--------------|-------------|\n| UNCHANGED | Full original file path is used |\n| TRIM_LEADING | Remove all except the last path segment. e.g. ```/en/strings/nav.properties``` becomes ```nav.properties```|\n| LOCALE_LAST | Adds a locale folder to the file path directly before the filename. e.g. ```/strings/nav.properties``` becomes ```/strings/en/nav.properties``` |\n",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "UNCHANGED",
                "TRIM_LEADING",
                "LOCALE_LAST"
              ],
              "type": "string"
            }
          },
          {
            "name": "localeMode",
            "description": "Determines how locales will be handled in the downloaded zip\n\n| localeMode | Description |\n|------------|-------------|\n| LOCALE_IN_PATH | Locale code is added to the end of the file path. e.g. ```/strings/es-ES/nav.properties```. |\n| LOCALE_IN_NAME | Locale code is added to the end of the file name e.g. ```/strings/nav_es-ES.properties```. |\n| LOCALE_IN_NAME_AND_PATH | Locale code is added to both the path and the filename. e.g. ```/strings/es-ES/nav_es-ES.properties```. |\n",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "LOCALE_IN_PATH",
                "LOCALE_IN_NAME",
                "LOCALE_IN_NAME_AND_PATH"
              ],
              "type": "string"
            }
          },
          {
            "name": "zipFileName",
            "description": "Name for the downloaded ZIP file. If unset, default is ```translations.zip```",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/files/list": {
      "get": {
        "summary": "List recently uploaded files",
        "description": "This lists recently uploaded files, and returns a maximum of 100 files.",
        "tags": [
          "Files"
        ],
        "operationId": "getRecentlyUploadedSourceFilesList",
        "parameters": [
          {
            "name": "projectId",
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uriMask",
            "description": "Returns only files with a URI containing the given substring. Case is ignored. For example, the value ```.json``` will match ```strings.json``` and ```STRINGS.JSON``` but not ```json.strings```\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileTypes[]",
            "explode": true,
            "in": "query",
            "required": false,
            "schema": {
              "items": {
                "$ref": "#/components/schemas/FileType"
              },
              "type": "array"
            }
          },
          {
            "name": "lastUploadedAfter",
            "description": "Returns all files uploaded after the specified date.",
            "in": "query",
            "required": false,
            "schema": {
              "format": "YYYY-MM-DDThh:mm:ssZ",
              "type": "string"
            }
          },
          {
            "name": "lastUploadedBefore",
            "description": "Returns all files uploaded before the specified date.",
            "in": "query",
            "required": false,
            "schema": {
              "format": "YYYY-MM-DDThh:mm:ssZ",
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "description": "Sets the name and direction of the parameter to order results by. If ascending or descending is not specified, the default is ascending\n",
            "in": "query",
            "schema": {
              "enum": [
                "created",
                "fileUri",
                "lastUploaded",
                "created_asc",
                "created_desc",
                "fileUri_asc",
                "fileUri_desc",
                "lastUploaded_asc",
                "lastUploaded_desc"
              ],
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "In order to get consistent pagination, make sure to specify the ```orderBy``` parameter.\n",
            "in": "query",
            "required": false,
            "schema": {
              "default": 100,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "description": "Standard Smartling limit and offset to paginate through results.",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesAPIListFilesSuccessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "items": [
                            {
                              "created": "2017-09-06T20:29:15Z",
                              "fileType": "csv",
                              "fileUri": "/files/translation_import.csv",
                              "hasInstructions": false,
                              "lastUploaded": "2017-09-06T20:29:15Z"
                            },
                            {
                              "created": "2017-05-27T12:45:36Z",
                              "fileType": "javaProperties",
                              "fileUri": "/files/4.properties",
                              "hasInstructions": false,
                              "lastUploaded": "2017-05-27T12:45:36Z"
                            }
                          ],
                          "totalCount": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
            "$ref": "#/components/responses/Error429ResponseDefinition"
          },
          "500": {
            "$ref": "#/components/responses/Error500ResponseDefinition"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -H \"Authorization: Bearer $smartlingToken\" \"https://api.smartling.com/files-api/v2/projects/$smartlingProjectId/files/list?fileTypes[]=json&uriMask=strings\"\n"
          }
        ]
      }
    },
    "/files-api/v2/projects/{projectId}/file-types": {
      "get": {
        "summary": "List all file types",
        "description": "This returns a list of all file types currently represented in the project.\n",
        "tags": [
          "Files"
        ],
        "operationId": "getFileTypesList",
        "parameters": [
          {
            "description": "A unique project identifier. This can be found in the Smartling Dashboard under Account Settings > API.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesAPIListFileTypesSuccessResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "response": {
                        "code": "SUCCESS",
                        "data": {
                          "items": [
                            "csv",
                            "javaProperties"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400ResponseDefinition"
          },
          "401": {
            "$ref": "#/components/responses/Error401ResponseDefinition"
          },
          "429": {
[...]
