openapi: 3.0.0
info:
  contact:
    email: support@smartling.com
  description: >
    Before you begin using the Smartling APIs, we recommend going through our
    [Getting Started](https://help.smartling.com/hc/en-us/sections/360001644894)
    section.
  termsOfService: 'https://www.smartling.com/about/terms-and-conditions/'
  title: Smartling REST API Reference
  version: 2.0.0
  x-logo:
    url: smartling_logo.png
servers:
  - url: 'https://api.smartling.com/'

externalDocs:
  description: Smartling Help Center
  url: 'https://help.smartling.com'


paths:
  /translation-quality-api/v2/dictionary/check-types:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/dictionary_checkTypes'

  /translation-quality-api/v2/dictionary/check-types/{checkTypeCode}/sub-types:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/dictionary_checkType_subTypes'

  /translation-quality-api/v2/dictionary/severity-levels:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/dictionary_severity_levels'

  /translation-quality-api/v2/dictionary/check-types/GLOSSARY_COMPLIANCE/match-methods:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/dictionary_checkType_GLOSSARY_COMPLIANCE_match_methods'

  /translation-quality-api/v2/dictionary/check-types/TRADEMARK_CONSISTENCY/trademark-types:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/dictionary_checkType_TRADEMARK_CONSISTENCY_trademark_types'

  /translation-quality-api/v2/users/current/settings/dictionaries/{localeId}:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/users_current_settings_dictionaries_locale'

  /translation-quality-api/v2/users/current/settings/dictionaries/{localeId}/{wordUid}:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/users_current_settings_dictionaries_locale_word'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/severity-level:
    $ref: './spec/translation_quality/severity_levels/check_type_severity_level.yaml#/components/schemas/check_type_severity_level'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/sub-types/{checkSubTypeCode}/severity-level:
    $ref: './spec/translation_quality/severity_levels/check_type_severity_level.yaml#/components/schemas/check_type_subtype_severity_level'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/severity-level/reset:
    $ref: './spec/translation_quality/severity_levels/check_type_severity_level.yaml#/components/schemas/check_type_severity_level_reset'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/sub-types/{checkSubTypeCode}/severity-level:
    $ref: './spec/translation_quality/severity_levels/check_type_severity_level.yaml#/components/schemas/check_type_group_subtype_severity_level'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups:
    $ref: './spec/translation_quality/account_settings.yaml#/components/schemas/check_type_groups'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}:
    $ref: './spec/translation_quality/account_settings.yaml#/components/schemas/check_type_groups_group'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/locales:
    $ref: './spec/translation_quality/account_settings.yaml#/components/schemas/check_type_groups_group_locales'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/locales/{targetLocaleId}:
    $ref: './spec/translation_quality/account_settings.yaml#/components/schemas/check_type_groups_group_locales_locale'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/severity-level:
    $ref: './spec/translation_quality/severity_levels/check_type_severity_level.yaml#/components/schemas/check_type_group_severity_level'

  /translation-quality-api/v2/accounts/{accountUid}/check-types:
    $ref: './spec/translation_quality/checks/accounts.yaml#/components/schemas/check_types_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/SEGMENT_COMPLETENESS/settings:
    $ref: './spec/translation_quality/checks/segment_completeness.yaml#/components/schemas/check_types_SEGMENT_COMPLETENESS_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/SEGMENT_COMPLETENESS/groups/{groupUid}/settings:
    $ref: './spec/translation_quality/checks/segment_completeness.yaml#/components/schemas/check_types_SEGMENT_COMPLETENESS_group_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/ORIGINAL_EQUALS_TARGET/settings:
    $ref: './spec/translation_quality/checks/original_equals_target.yaml#/components/schemas/check_types_ORIGINAL_EQUALS_TARGET_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/ORIGINAL_EQUALS_TARGET/groups/{groupUid}/settings:
    $ref: './spec/translation_quality/checks/original_equals_target.yaml#/components/schemas/check_types_ORIGINAL_EQUALS_TARGET_group_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/checkTypeCode/settings:
    $ref: './spec/translation_quality/checks/accounts.yaml#/components/schemas/check_types_checkType_settings'

#  /translation-quality-api/v2/accounts/{accountUid}/check-types/EMOJI_CONSISTENCY/settings:
#    $ref: './spec/translation_quality/checks/emoji_consistency.yaml#/components/schemas/check_types_EMOJI_CONSISTENCY_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/EMOJI_CONSISTENCY/groups/{groupUid}/settings:
    $ref: './spec/translation_quality/checks/emoji_consistency.yaml#/components/schemas/check_types_EMOJI_CONSISTENCY_group_settings'

#  /translation-quality-api/v2/accounts/{accountUid}/check-types/SPELLCHECK/settings:
#    $ref: './spec/translation_quality/checks/spellcheck.yaml#/components/schemas/check_types_SPELLCHECK_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/SPELLCHECK/groups/{groupUid}/settings:
    $ref: './spec/translation_quality/checks/spellcheck.yaml#/components/schemas/check_types_SPELLCHECK_group_settings'

#  /translation-quality-api/v2/accounts/{accountUid}/check-types/SOURCE_IN_WRONG_LANGUAGE/settings:
#    $ref: './spec/translation_quality/checks/source_in_wrong_language.yaml#/components/schemas/check_types_SOURCE_IN_WRONG_LANGUAGE_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/SOURCE_IN_WRONG_LANGUAGE/groups/{groupUid}/settings:
    $ref: './spec/translation_quality/checks/source_in_wrong_language.yaml#/components/schemas/check_types_SOURCE_IN_WRONG_LANGUAGE_group_settings'

#  /translation-quality-api/v2/accounts/{accountUid}/check-types/TARGET_IN_WRONG_LANGUAGE/settings:
#    $ref: './spec/translation_quality/checks/target_in_wrong_language.yaml#/components/schemas/check_types_TARGET_IN_WRONG_LANGUAGE_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/TARGET_IN_WRONG_LANGUAGE/groups/{groupUid}/settings:
    $ref: './spec/translation_quality/checks/target_in_wrong_language.yaml#/components/schemas/check_types_TARGET_IN_WRONG_LANGUAGE_groups_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/NUMBER_CONSISTENCY/settings:
    $ref: './spec/translation_quality/checks/number_consistency.yaml#/components/schemas/path_check_types_NUMBER_CONSISTENCY_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/NUMBER_CONSISTENCY/groups/{groupUid}/settings:
    $ref: './spec/translation_quality/checks/number_consistency.yaml#/components/schemas/path_check_types_NUMBER_CONSISTENCY_groups_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/TARGET_SOURCE_CONSISTENCY/settings:
    $ref: './spec/translation_quality/checks/target_source_consistency.yaml#/components/schemas/check_types_TARGET_SOURCE_CONSISTENCY_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/TARGET_SOURCE_CONSISTENCY/groups/{groupUid}/settings:
    $ref: './spec/translation_quality/checks/target_source_consistency.yaml#/components/schemas/check_types_TARGET_SOURCE_CONSISTENCY_group_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/GLOSSARY_COMPLIANCE/settings:
    $ref: './spec/translation_quality/checks/glossary_compliance.yaml#/components/schemas/check_types_GLOSSARY_COMPLIANCE_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/GLOSSARY_COMPLIANCE/groups/{groupUid}/settings:
    $ref: './spec/translation_quality/checks/glossary_compliance.yaml#/components/schemas/check_types_GLOSSARY_COMPLIANCE_group_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}:
    $ref: './spec/translation_quality/checks/accounts.yaml#/components/schemas/account_check_types_settings_effective'

  /translation-quality-api/v2/accounts/{accountUid}/projects/{projectId}/check:
    $ref: './spec/translation_quality/tqc_check.yaml#/components/schemas/tqc_check'

components:
  schemas:

      LEADING_TRAILING_SPACES:
        $ref: './spec/translation_quality/checks/leading_trailing_spaces.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      ORIGINAL_EQUALS_TARGET:
        $ref: './spec/translation_quality/checks/original_equals_target.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      WHITESPACES: #'whitespaces.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/whitespaces.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      SPELLCHECK: #'spellcheck.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/spellcheck.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      UNCATEGORIZED: #'uncategorized.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/uncategorized.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TAG_CONSISTENCY: #'tag_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/tag_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TARGET_LENGTH_LIMIT: #'target_length_limit.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/target_length_limit.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      NUMBER_CONSISTENCY: #'number_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/number_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      REPEATED_WORD: #'repeated_word.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/repeated_word.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TARGET_IN_WRONG_LANGUAGE: #'target_in_wrong_language.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/target_in_wrong_language.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      SOURCE_IN_WRONG_LANGUAGE: #'source_in_wrong_language.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/source_in_wrong_language.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      SEGMENT_COMPLETENESS: #'segment_completeness.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/segment_completeness.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      NON_TRANSLATABLE_TEXT: #'non_translatable_text.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/non_translatable_text.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      EMOJI_CONSISTENCY: #'emoji_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/emoji_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TAG_VALIDITY: #'tag_validity.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/tag_validity.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      INSERTABLE_CONSISTENCY: #'insertable_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/insertable_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TARGET_SOURCE_CONSISTENCY: #'target_source_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/target_source_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      BLACKLISTED_TERMS: #'blacklisted_terms.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/blacklisted_terms.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      GLOSSARY_COMPLIANCE: #'glossary_compliance.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/glossary_compliance.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TRADEMARK_CONSISTENCY: #'trademark_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/trademark_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      GRAMMAR_CHECK: #'grammar_check.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/grammar_check.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      GLOBAL_CAPITALISATION_CONSISTENCY: #'global_capitalisation_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
        $ref: './spec/translation_quality/checks/global_capitalisation_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'

#{
#    "response": {
#        "code": "SUCCESS",
#        "data": {
#            "totalCount": 22,
#            "items": [
#                {
#                    "severityLevelCode": "LOW",
#                    "checkTypeCode": "LEADING_TRAILING_SPACES",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "LOW",
#                    "checkTypeCode": "ORIGINAL_EQUALS_TARGET",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": [],
#                    "mustHaveIdenticalTags": true,
#                    "mustHaveIdenticalCapitalization": true
#                },
#                {
#                    "severityLevelCode": "LOW",
#                    "checkTypeCode": "WHITESPACES",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "LOW",
#                    "checkTypeCode": "SPELLCHECK",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": [],
#                    "skipIfWordInUserDictionary": true,
#                    "skipIfWordStartsWithCapitalLetter": false,
#                    "skipIfWordAppearsInSourceString": true,
#                    "skipIfWordValidInSourceLocale": false,
#                    "runSpellcheckForSubWords": false
#                },
#                {
#                    "severityLevelCode": "LOW",
#                    "checkTypeCode": "UNCATEGORIZED",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "HIGH",
#                    "checkTypeCode": "TAG_CONSISTENCY",
#                    "subTypes": [
#                        {
#                            "checkSubTypeCode": "TAG_ORDER_IS_CHANGED",
#                            "severityLevelCode": "HIGH"
#                        },
#                        {
#                            "checkSubTypeCode": "TAG_ADDED",
#                            "severityLevelCode": "HIGH"
#                        },
#                        {
#                            "checkSubTypeCode": "TAG_DELETED",
#                            "severityLevelCode": "HIGH"
#                        },
#                        {
#                            "checkSubTypeCode": "SPACES_AROUND_TAGS",
#                            "severityLevelCode": "HIGH"
#                        }
#                    ],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "HIGH",
#                    "checkTypeCode": "TARGET_LENGTH_LIMIT",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "DISABLED",
#                    "checkTypeCode": "NUMBER_CONSISTENCY",
#                    "subTypes": [
#                        {
#                            "checkSubTypeCode": "NUMBER_ADDED",
#                            "severityLevelCode": "DISABLED"
#                        },
#                        {
#                            "checkSubTypeCode": "NUMBER_DELETED",
#                            "severityLevelCode": "DISABLED"
#                        },
#                        {
#                            "checkSubTypeCode": "NUMBER_INCORRECT_CONVERSION",
#                            "severityLevelCode": "DISABLED"
#                        }
#                    ],
#                    "localeSeverityLevels": [],
#                    "groups": [],
#                    "ignoreSign": true
#                },
#                {
#                    "severityLevelCode": "LOW",
#                    "checkTypeCode": "REPEATED_WORD",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "DISABLED",
#                    "checkTypeCode": "TARGET_IN_WRONG_LANGUAGE",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": [],
#                    "minTextLengthLimit": 40
#                },
#                {
#                    "severityLevelCode": "DISABLED",
#                    "checkTypeCode": "SOURCE_IN_WRONG_LANGUAGE",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": [],
#                    "minTextLengthLimit": 40
#                },
#                {
#                    "severityLevelCode": "MEDIUM",
#                    "checkTypeCode": "SEGMENT_COMPLETENESS",
#                    "subTypes": [
#                        {
#                            "checkSubTypeCode": "TARGET_IS_MUCH_LONGER_THAN_SOURCE",
#                            "severityLevelCode": "MEDIUM"
#                        },
#                        {
#                            "checkSubTypeCode": "TARGET_IS_MUCH_SHORTER_THAN_SOURCE",
#                            "severityLevelCode": "MEDIUM"
#                        },
#                        {
#                            "checkSubTypeCode": "TARGET_IS_EMPTY",
#                            "severityLevelCode": "DISABLED"
#                        }
#                    ],
#                    "localeSeverityLevels": [],
#                    "groups": [],
#                    "lowerLengthThreshold": 50,
#                    "upperLengthThreshold": 250,
#                    "minLengthThreshold": 10
#                },
#                {
#                    "severityLevelCode": "MEDIUM",
#                    "checkTypeCode": "NON_TRANSLATABLE_TEXT",
#                    "subTypes": [
#                        {
#                            "checkSubTypeCode": "PLACEABLE_DELETED",
#                            "severityLevelCode": "MEDIUM"
#                        },
#                        {
#                            "checkSubTypeCode": "PLACEABLE_ADDED",
#                            "severityLevelCode": "MEDIUM"
#                        },
#                        {
#                            "checkSubTypeCode": "SPACES_AROUND_PLACEABLE",
#                            "severityLevelCode": "MEDIUM"
#                        },
#                        {
#                            "checkSubTypeCode": "PLACEABLE_FORMAT",
#                            "severityLevelCode": "MEDIUM"
#                        }
#                    ],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "LOW",
#                    "checkTypeCode": "EMOJI_CONSISTENCY",
#                    "subTypes": [
#                        {
#                            "checkSubTypeCode": "EMOJI_PRESENT",
#                            "severityLevelCode": "LOW"
#                        },
#                        {
#                            "checkSubTypeCode": "EMOJI_DELETED",
#                            "severityLevelCode": "DISABLED"
#                        },
#                        {
#                            "checkSubTypeCode": "EMOJI_ADDED",
#                            "severityLevelCode": "LOW"
#                        }
#                    ],
#                    "localeSeverityLevels": [],
#                    "groups": [],
#                    "noEmojisAllowedInTarget": false
#                },
#                {
#                    "severityLevelCode": "HIGH",
#                    "checkTypeCode": "TAG_VALIDITY",
#                    "subTypes": [
#                        {
#                            "checkSubTypeCode": "OPEN_CLOSED_TAG_ORDER_IS_CHANGED",
#                            "severityLevelCode": "HIGH"
#                        },
#                        {
#                            "checkSubTypeCode": "INVALID_TAG_NESTING",
#                            "severityLevelCode": "HIGH"
#                        },
#                        {
#                            "checkSubTypeCode": "TAG_IS_CHANGED",
#                            "severityLevelCode": "HIGH"
#                        }
#                    ],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "DISABLED",
#                    "checkTypeCode": "INSERTABLE_CONSISTENCY",
#                    "subTypes": [
#                        {
#                            "checkSubTypeCode": "INSERTABLE_DELETED",
#                            "severityLevelCode": "DISABLED"
#                        },
#                        {
#                            "checkSubTypeCode": "INSERTABLE_ADDED",
#                            "severityLevelCode": "DISABLED"
#                        }
#                    ],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "LOW",
#                    "checkTypeCode": "TARGET_SOURCE_CONSISTENCY",
#                    "subTypes": [
#                        {
#                            "checkSubTypeCode": "SAME_SOURCE_DIFFERENT_TRANSLATIONS",
#                            "severityLevelCode": "LOW"
#                        },
#                        {
#                            "checkSubTypeCode": "SAME_TRANSLATION_DIFFERENT_SOURCES",
#                            "severityLevelCode": "LOW"
#                        }
#                    ],
#                    "localeSeverityLevels": [],
#                    "groups": [],
#                    "ignoreTagsAndPlaceholders": true,
#                    "ignoreCase": true
#                },
#                {
#                    "severityLevelCode": "MEDIUM",
#                    "checkTypeCode": "BLACKLISTED_TERMS",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "DISABLED",
#                    "checkTypeCode": "GLOSSARY_COMPLIANCE",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": [],
#                    "matchMethod": "MATCH_BY_PERCENTAGE",
#                    "matchThreshold": 50
#                },
#                {
#                    "severityLevelCode": "LOW",
#                    "checkTypeCode": "TRADEMARK_CONSISTENCY",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "LOW",
#                    "checkTypeCode": "GRAMMAR_CHECK",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                },
#                {
#                    "severityLevelCode": "LOW",
#                    "checkTypeCode": "GLOBAL_CAPITALISATION_CONSISTENCY",
#                    "subTypes": [],
#                    "localeSeverityLevels": [],
#                    "groups": []
#                }
#            ]
#        }
#    }
#}

