openapi: 3.0.0
info:
  contact:
    email: support@smartling.com
  description: >
    Before you begin using the Smartling APIs, we recommend going through our
    [Getting Started](https://help.smartling.com/hc/en-us/sections/360001644894)
    section.
  termsOfService: 'https://www.smartling.com/about/terms-and-conditions/'
  title: Smartling REST API Reference
  version: 2.0.0
  x-logo:
    url: smartling_logo.png

servers:
  - url: 'https://api.smartling.com/'

externalDocs:
  description: Smartling Help Center
  url: 'https://help.smartling.com'

tags:
  - name: Translation quality check
    description: Translation quality check service provides API that allows to check translation quality.

paths:
  /translation-quality-api/v2/dictionary/check-types:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/dictionary_checkTypes'

  /translation-quality-api/v2/dictionary/check-types/{checkTypeCode}/sub-types:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/dictionary_checkType_subTypes'

  /translation-quality-api/v2/dictionary/severity-levels:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/dictionary_severity_levels'

  /translation-quality-api/v2/dictionary/check-types/GLOSSARY_COMPLIANCE/match-methods:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/dictionary_checkType_GLOSSARY_COMPLIANCE_match_methods'

  /translation-quality-api/v2/dictionary/check-types/TRADEMARK_CONSISTENCY/trademark-types:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/dictionary_checkType_TRADEMARK_CONSISTENCY_trademark_types'

  /translation-quality-api/v2/users/current/settings/dictionaries/{localeId}:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/users_current_settings_dictionaries_locale'

  /translation-quality-api/v2/users/current/settings/dictionaries/{localeId}/{wordUid}:
    $ref: './spec/translation_quality/dictionaries.yaml#/components/schemas/users_current_settings_dictionaries_locale_word'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/severity-level:
    $ref: './spec/translation_quality/check_type_severity_level.yaml#/components/schemas/check_type_severity_level'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/sub-types/{checkSubTypeCode}/severity-level:
    $ref: './spec/translation_quality/check_type_severity_level.yaml#/components/schemas/check_type_subtype_severity_level'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/severity-level/reset:
    $ref: './spec/translation_quality/check_type_severity_level.yaml#/components/schemas/check_type_severity_level_reset'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups:
    $ref: './spec/translation_quality/account_settings.yaml#/components/schemas/check_type_groups'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}:
    $ref: './spec/translation_quality/account_settings.yaml#/components/schemas/check_type_groups_group'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/locales:
    $ref: './spec/translation_quality/account_settings.yaml#/components/schemas/check_type_groups_group_locales'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/locales/{targetLocaleId}:
    $ref: './spec/translation_quality/account_settings.yaml#/components/schemas/check_type_groups_group_locales_locale'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/sub-types/{checkSubTypeCode}/severity-level:
    $ref: './spec/translation_quality/check_type_severity_level.yaml#/components/schemas/check_type_group_subtype_severity_level'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/severity-level:
    $ref: './spec/translation_quality/check_type_severity_level.yaml#/components/schemas/check_type_group_severity_level'

  /translation-quality-api/v2/accounts/{accountUid}/check-types:
    $ref: './spec/translation_quality/checks/accounts.yaml#/components/schemas/check_types_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}:
    $ref: './spec/translation_quality/checks/accounts.yaml#/components/schemas/account_check_types_settings_effective'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/settings:
    $ref: './spec/translation_quality/checks/accounts.yaml#/components/schemas/check_types_checkType_settings'

  /translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/settings:
    $ref: './spec/translation_quality/checks/accounts.yaml#/components/schemas/check_types_checkType_group_settings'

  /translation-quality-api/v2/accounts/{accountUid}/projects/{projectId}/check:
    $ref: './spec/translation_quality/tqc_check.yaml#/components/schemas/tqc_check'

components:
  schemas:

      LEADING_TRAILING_SPACES:
        $ref: './spec/translation_quality/checks/leading_trailing_spaces.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      ORIGINAL_EQUALS_TARGET:
        $ref: './spec/translation_quality/checks/original_equals_target.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      WHITESPACES:
        $ref: './spec/translation_quality/checks/whitespaces.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      SPELLCHECK:
        $ref: './spec/translation_quality/checks/spellcheck.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      UNCATEGORIZED:
        $ref: './spec/translation_quality/checks/uncategorized.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TAG_CONSISTENCY:
        $ref: './spec/translation_quality/checks/tag_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TARGET_LENGTH_LIMIT:
        $ref: './spec/translation_quality/checks/target_length_limit.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      NUMBER_CONSISTENCY:
        $ref: './spec/translation_quality/checks/number_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      REPEATED_WORD:
        $ref: './spec/translation_quality/checks/repeated_word.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TARGET_IN_WRONG_LANGUAGE:
        $ref: './spec/translation_quality/checks/target_in_wrong_language.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      SOURCE_IN_WRONG_LANGUAGE:
        $ref: './spec/translation_quality/checks/source_in_wrong_language.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      SEGMENT_COMPLETENESS:
        $ref: './spec/translation_quality/checks/segment_completeness.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      NON_TRANSLATABLE_TEXT:
        $ref: './spec/translation_quality/checks/non_translatable_text.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      EMOJI_CONSISTENCY:
        $ref: './spec/translation_quality/checks/emoji_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TAG_VALIDITY:
        $ref: './spec/translation_quality/checks/tag_validity.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      INSERTABLE_CONSISTENCY:
        $ref: './spec/translation_quality/checks/insertable_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TARGET_SOURCE_CONSISTENCY:
        $ref: './spec/translation_quality/checks/target_source_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      BLACKLISTED_TERMS:
        $ref: './spec/translation_quality/checks/blacklisted_terms.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      GLOSSARY_COMPLIANCE:
        $ref: './spec/translation_quality/checks/glossary_compliance.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      TRADEMARK_CONSISTENCY:
        $ref: './spec/translation_quality/checks/trademark_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      GRAMMAR_CHECK:
        $ref: './spec/translation_quality/checks/grammar_check.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'
      GLOBAL_CAPITALISATION_CONSISTENCY:
        $ref: './spec/translation_quality/checks/global_capitalisation_consistency.yaml#/components/schemas/AccountCheckTypeEffectiveDTO'