swagger: '2.0'
schemes:
  - https
host: api.smartling.com
basePath: /
produces:
  - application/json
consumes:
  - application/json
info:

  title: Smartling REST API Reference
  
  description: |
    The **Smartling API** enables you to automate many of the actions that users ordinarily perform in Smartling's 
    web-based application. It also allows you to build integrations to connect your content sources directly 
    with Smartling.

  version: '2.0.0'
  
  termsOfService: 'https://www.smartling.com/about/terms-and-conditions/'
  contact:
    email: hi@smartling.com
    url: 'https://developer.smartling.com'
  # license:
    # name: Apache 2.0
    # url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'smartling_logo.png'
externalDocs:
  description: Smartling Docs
  url: 'https://developer.smartling.com'

paths:
  '/auth-api/v2/authenticate':
    post:
      description: >-
        Authenticates the user with a User Identifier and Secret. Returns an
        access token that can be attached to the header of any API request to
        authenticate the user, and a refresh token which can be used to obtain a
        new access token.


        To obtain `userIdentifier` and `userSecret` log in to `Smartling > API > Create Token`.


        See ["How to Authenticate" article](https://developer.smartling.com/docs/how-to-authenticate) for more details.
      summary: Authenticate
      tags:
        - Authentication
      parameters:
        - name: body
          in: body
          description: Authentication Request
          schema:
            $ref: '#/definitions/AuthenticationRequest'
          required: true
      responses:
        '200':
          description: Access and refresh tokens
          schema:
            $ref: '#/definitions/AuthenticationResponse'
          examples:
            application/json:
              response:
                code: SUCCESS
                data:
                  accessToken: b816424c-2e95-11e7-93ae-92361f002671
                  refreshToken: c0a6f410-2e95-11e7-93ae-92361f002671
                  expiresIn: 480
                  refreshExpiresIn: 3660
                  tokenType: Bearer
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/authenticate/refresh':
    post:
      description: >-
        Returns a renewed access token that can be attached to the header of any
        API request to authenticate the user, and a refresh token which can be
        used to obtain a new access token.
      summary: Refresh access token
      tags:
        - Authentication
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AuthenticationRefreshRequest'
          description: Refresh token request
      responses:
        '200':
          description: Access and refresh tokens
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorResponse'

            
definitions:

  SuccessResponse:
    type: object
    required:
      - code
    properties:
      code:
        type: string
        enum:
          - SUCCESS
  AuthenticationRequest:
    type: object
    required:
      - userIdentifier
      - userSecret
    properties:
      userIdentifier:
        type: string
        description: API v2 user identifier
      userSecret:
        type: string
        description: API v2 user secret
  AuthenticationResponse:
    allOf:
      - $ref: '#/definitions/SuccessResponse'
      - type: object
        properties:
          data:
            $ref: '#/definitions/Authentication'
  Authentication:
    type: object
    required:
      - accessToken
      - refreshToken
    properties:
      accessToken:
        description: the access token
        type: string
      refreshToken:
        description: the refresh token
        type: string
      expiresIn:
        description: TTL in seconds for the access token
        type: integer
      refreshExpiresIn:
        description: TTL in seconds for the refresh token
        type: integer
      tokenType:
        description: The access token type
        type: string
        enum:
          - Bearer
  AuthenticationRefreshRequest:
    type: object
    required:
      - refreshToken
    properties:
      refreshToken:
        type: string
        description: The refresh token returned from a previous authentication request
  ErrorResponse:
    type: object
    required:
      - response
    properties:
      response:
        type: object
        required:
          - code
          - errors
        properties:
          code:
            type: string
            enum:
              - VALIDATION_ERROR
              - AUTHENTICATION_ERROR
              - AUTHORIZATION_ERROR
              - RESOURCE_LOCKED
              - MAX_OPERATIONS_LIMIT_EXCEEDED
              - GENERAL_ERROR
              - MAINTENANCE_MODE_ERROR
          errors:
            type: array
            items:
              $ref: '#/definitions/Error'
  Error:
    type: object
    required:
      - key
      - message
    properties:
      key:
        type: string
      message:
        type: string
      details:
        type: object
