swagger: '2.0'
schemes:
  - https
host: api.smartling.com
basePath: /
produces:
  - application/json
consumes:
  - application/json
info:
  title: Smartling REST API Reference

  description: |
    Before you begin using the Smartling APIs, we recommend going through our [Getting Started](https://help.smartling.com/hc/en-us/sections/360001644894) section.


  version: '2.0.0'

  termsOfService: 'https://www.smartling.com/about/terms-and-conditions/'
  contact:
    email: support@smartling.com
  # license:
    # name: Apache 2.0
    # url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'smartling_logo.png'
externalDocs:
  description: Smartling Help Center
  url: 'https://help.smartling.com'

paths:
  /translation-quality-api/v2/accounts/{accountUid}/check-types/NON_TRANSLATABLE_TEXT:
    get:
      description: >-
        Get checktype NON_TRANSLATABLE_TEXT settings for certain account.
      summary: Get checktype NON_TRANSLATABLE_TEXT settings for certain account
      tags:
        - Translation quality check
      parameters:
        - name: accountUid
          in: path
          type: string
          required: true
          description: Unique identifier of corresponding account.
        - name: targetLocaleId
          in: query
          required: false
          type: string

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TqcAccountCheckTypeResponse_NON_TRANSLATABLE_TEXT'

      x-code-samples:
        - lang: curl
          source: |
            curl -H "Authorization: Bearer $smartlingToken" -H "Content-Type: application/json" https://api.smartling.com/translation-quality-api/v2/accounts/$smartlingAccountId/check-types/NON_TRANSLATABLE_TEXT:

  /translation-quality-api/v2/accounts/{accountUid}/check-types/EMOJI_CONSISTENCY:
    get:
      description: >-
        Get checktype EMOJI_CONSISTENCY settings for certain account.
      summary: Get checktype EMOJI_CONSISTENCY settings for certain account
      tags:
        - Translation quality check
      parameters:
        - name: accountUid
          in: path
          type: string
          required: true
          description: Unique identifier of corresponding account.
        - name: targetLocaleId
          in: query
          required: false
          type: string

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TqcAccountCheckTypeResponse_EMOJI_CONSISTENCY'

      x-code-samples:
        - lang: curl
          source: |
            curl -H "Authorization: Bearer $smartlingToken" -H "Content-Type: application/json" https://api.smartling.com/translation-quality-api/v2/accounts/$smartlingAccountId/check-types/EMOJI_CONSISTENCY:

definitions:

  SuccessResponse:
    type: object
    required:
      - code
    properties:
      code:
        type: string
        enum:
          - SUCCESS
        description: Indicates whether the response was successful or what error has occured.

  TqcSeverityLevelCode:
    type: object
    properties:
      severityLevelCode:
        type: string
        enum:
          - DISABLED
          - LOW
          - MEDIUM
          - HIGH
        description: severity level code
        example: "MEDIUM"

  TqcSubTypes:
    type: object
    properties:
      subTypes:
        type: array
        items:
          type: object
          properties:
            checkSubTypeCode:
              type: string
              enum:
                - PLACEABLE_ADDED
                - PLACEABLE_DELETED
                - SPACES_AROUND_PLACEABLE
                - PLACEABLE_FORMAT
              description: check subtype code
              example: "PLACEABLE_ADDED"

  TqcLocaleSeverityLevels:
    type: object
    properties:
      localeSeverityLevels:
        type: array
        items:
          type: object
          properties:
            targetLocaleId:
              type: string
              description: Smartling locale identifier of the translation
              example: "it-IT"
            severityLevelCode:
              type: string
              enum:
                - DISABLED
                - LOW
                - MEDIUM
                - HIGH
              description: severity level code
              example: "MEDIUM"

  TqcGroups:
    type: object
    properties:
      groups:
        type: array
        items:
          type: object
          properties:
            groupUid:
              type: string
              description: unique identifier of group
              example: "12dsd344ds"

  TqcAccountCheckTypeResponse:
     allOf:
       - $ref: '#/definitions/TqcSeverityLevelCode'
       - $ref: '#/definitions/TqcSubTypes'
       - $ref: '#/definitions/TqcLocaleSeverityLevels'
       - $ref: '#/definitions/TqcGroups'

  TqcAccountCheckTypeResponse_NON_TRANSLATABLE_TEXT:
    allOf:
      - $ref: '#/definitions/SuccessResponse'
      - type: object
        properties:
          data:
            allOf:
              - $ref: '#/definitions/TqcAccountCheckTypeResponse'
              - type: object
                properties:
                  checkTypeCode:
                    type: string
                    enum:
                      - NON_TRANSLATABLE_TEXT
                    description: check type code
                    example: "NON_TRANSLATABLE_TEXT"

  TqcAccountCheckTypeResponse_EMOJI_CONSISTENCY:
    allOf:
      - $ref: '#/definitions/SuccessResponse'
      - type: object
        properties:
          data:
            allOf:
              - $ref: '#/definitions/TqcAccountCheckTypeResponse'
              - type: object
                properties:
                  checkTypeCode:
                    type: string
                    enum:
                      - EMOJI_CONSISTENCY
                    description: check type code
                    example: "EMOJI_CONSISTENCY"
                  noEmojisAllowedInTarget:
                    type: boolean
                    description: No emoji is allowed in target
                    example: false


