{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "api.smartling.com",
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "info": {
    "title": "Smartling REST API Reference",
    "description": "Before you begin using the Smartling APIs, we recommend going through our [Getting Started](https://help.smartling.com/hc/en-us/sections/360001644894) section.\n",
    "version": "2.0.0",
    "termsOfService": "https://www.smartling.com/about/terms-and-conditions/",
    "contact": {
      "email": "support@smartling.com"
    },
    "x-logo": {
      "url": "smartling_logo.png"
    }
  },
  "externalDocs": {
    "description": "Smartling Help Center",
    "url": "https://help.smartling.com"
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Smartling uses OAuth2 for [authentication](https://help.smartling.com/hc/en-us/articles/360007789914). To access the Smartling APIs, you'll first need to authenticate with your user identifier and user secret. An access token is returned that can be attached to the header of any API request. A refresh token is also returned.\n\nTo obtain your [user identifier and user secret](https://help.smartling.com/hc/en-us/articles/115004187694), log in to Smartling.com and go to **API > Create Token**. Authenticating is as simple as calling the `/api.smartling.com/auth-api/v2/authenticate` with your `userIdentifier` and `userSecret`. The access token returned is valid for 5-minutes, and is used in the header of all subsequent requests.\n\n**Example for generating your access token:**\n\n```bash \n  curl -X POST https://api.smartling.com/auth-api/v2/authenticate  -H 'content-type: application/json' -d '{    \"userIdentifier\": \"userIdasdklj4348dk34!\", \"userSecret\": \"userSecret34i34kkd5634f\" }'`\n```\n```\n{\n    \"response\": {\n        \"code\": \"SUCCESS\",\n        \"data\": {\n                \"accessToken\": \"eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOasdlkjn\",\n                \"refreshToken\": \"eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOiJkMTdkMmEw\",\n                \"expiresIn\": 480,\n                \"refreshExpiresIn\": 3660,\n                \"tokenType\": \"Bearer\"\n        }\n    }\n}\n```\n\n**Example of using your access token to list all projects for your account:**\n\n```bash\n  curl -X GET -H \"Authorization: Bearer {accessToken}\" 'https://api.smartling.com/accounts-api/v2/accounts/{accountUid}/projects\n```\n```\n{\n    \"response\": {\n        \"code\": \"SUCCESS\",\n        \"data\": {\n            \"totalCount\": 1,\n            \"items\": [{\n                         \"projectId\": \"df324sdf5\",\n                         \"projectName\": \"iOS Strings files\",\n                         \"accountUid\": \"ab5f1939\",\n                         \"archived\": false,\n                         \"projectTypeCode\": \"APPLICATION_RESOURCES\",\n                         \"sourceLocaleId\": \"en\",\n                         \"sourceLocaleDescription\": \"English\"\n                     }\n            ]\n        }\n    }\n}"
    },
    {
      "name": "Account & Projects",
      "description": "Each client within Smartling is given their own account with a designated `accountUid`. Within each account is any number of projects. All files, content, and jobs are tied to a particular project. The Accounts & Projects API will allow you to programmatically find and use the projects within your account."
    },
    {
      "name": "Locales",
      "description": "Locales are the language and country pairs that are used to identify the source content and the desired target locale for your translated content."
    },
    {
      "name": "Files",
      "description": "Files are typically how you can exchange your content with Smartling to get translations. Smartling supports a wide variety of [file types](https://help.smartling.com/hc/en-us/articles/360007998893). When you upload a file to Smartling, it gets parsed into strings, which will then be sent into the translation queue.\n\n**List of Supported File Types and Directives**:\n* [Android XML](https://help.smartling.com/hc/en-us/articles/360008000573)\n* [CSV](https://help.smartling.com/hc/en-us/articles/360008000593)\n* [Gettext PO/POT](https://help.smartling.com/hc/en-us/articles/360007894594)\n* [HTML](https://help.smartling.com/hc/en-us/articles/360007894614)\n* [InDesign](https://help.smartling.com/hc/en-us/articles/360007894634)\n* [iOS Strings](https://help.smartling.com/hc/en-us/articles/360008000693)\n* [iOS Stringsdict](https://help.smartling.com/hc/en-us/articles/360008000713)\n* [Java Property Files](https://help.smartling.com/hc/en-us/articles/360007894714)\n* [JSON](https://help.smartling.com/hc/en-us/articles/360008000733)\n* [MadCap Lingo ZIP Package](https://help.smartling.com/hc/en-us/articles/360008000793)\n* [Microsoft Office](https://help.smartling.com/hc/en-us/articles/360007894774)\n* [Plain Text](https://help.smartling.com/hc/en-us/articles/360007894794)\n* [QT Linguist](https://help.smartling.com/hc/en-us/articles/360007894814)\n* [RESX](https://help.smartling.com/hc/en-us/articles/360008000833)\n* [SubRip SRT](https://help.smartling.com/hc/en-us/articles/360007894874)\n* [XLIFF](https://help.smartling.com/hc/en-us/articles/360007894894)\n* [XML](https://help.smartling.com/hc/en-us/articles/360008000893)\n* [YAML](https://help.smartling.com/hc/en-us/articles/360007894934)"
    },
    {
      "name": "Jobs",
      "description": "A Smartling project (such as a mobile, web, files, or connector project) may contain one or more jobs. You may have multiple projects, each containing multiple jobs. Each job contains strings, consisting of words or phrases.\nThe Jobs feature allows you to group and prioritize your content by name, due date, description, and reference number (optional). It also enables you to monitor the progress of your translations throughout completion.\n\nThe Jobs API allows you to create a job, add a file to a job, authorize a job, and cancel a job, among many other actions. You have full control via the API to manage your job(s)."
    },
    {
      "name": "Context",
      "description": "Visual context helps Translators make linguistic, layout, and spacing decisions based on where strings appear in your mobile or desktop application. The Context API supports uploading various forms of context (images and HTML), and associate the context with content in Smartling."
    },
    {
      "name": "Issues",
      "description": "The Issues feature is a way for users who are working on a translation workflow to communicate with other users about source content and translations. For example, a Translator might create an issue to ask a question about terminology in a particular string. \n\nBy using Issues, you can record any communication about a string, and this can be seen by anyone working on it. Issues streamline the translation workflow. Translators get answers to their questions about the original content so they can translate it quickly and correctly. Translation resources can review and provide feedback about translations collaboratively. \n\n\nThe Issues API provides methods for creating issues, changing the state of an issue, commenting on an issue, requesting detailed information, as well as creating reports on issues and comments."
    },
    {
      "name": "Glossaries",
      "description": "The Glossaries API allows you to create and edit glossaries in a Smartling account, and populate it with glossary terms. You can also download your glossaries as CSV or TBX files and import Excel spreadsheets to create new glossaries.\n\n**Glossaries API Usage Limitations**:\n* Maximum request size is 10MB.\n* Maximum file upload size is 10MB.\n* Maximum HTTP header size is 128KB.\n* For requests that use pagination, maximum page size is 5000 elements.\n* For requests that return entities by their UIDs, maximum is 100 elements.\n\nRate limits:\n* Maximum 5 concurrent requests.\n* Maximum rate is 200 requests per 15-second window frame."
    },
    {
      "name": "Strings",
      "description": "A string is a piece of translation. Based on the source content, strings can be parsed differently. A string is then broken down further, into one or more segments.\n\nThe Strings API allows you to directly upload strings to a Smartling project and fetch original strings or translations.\n\nFor each string in a Smartling project, there is a unique identifier created by hashing together the parsed string text, variant metadata, and in some cases, namespace. When adding strings via the Strings API, each string will be unique. If you try to create a string with identical variant metadata and string text to a string that already exists in the project, the string will be overwritten."
    },
    {
      "name": "Tags",
      "description": "The Tags API allows you to add and remove tags for strings, search for tags in project.\nTags can help you to manage your strings."
    }
  ],
  "paths": {
    "/auth-api/v2/authenticate": {
      "post": {
        "description": "Verifies the credentials of the connection attempt.",
        "summary": "Authenticate",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Authentication Request",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthenticationResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "accessToken": "b816424c-2e95-11e7-93ae-92361f002671",
                    "refreshToken": "c0a6f410-2e95-11e7-93ae-92361f002671",
                    "expiresIn": 480,
                    "refreshExpiresIn": 3660,
                    "tokenType": "Bearer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X POST https://api.smartling.com/auth-api/v2/authenticate \\\n   -H 'content-type: application/json' \\\n   -d '{\"userIdentifier\": \"Qw**********\", \"userSecret\": \"Zj**********\"}'\n"
          }
        ]
      }
    },
    "/auth-api/v2/authenticate/refresh": {
      "post": {
        "description": "A [renewed access token](https://help.smartling.com/hc/en-us/articles/360007789914) that can be attached to the header of any API request.",
        "summary": "Refresh access token",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthenticationRefreshRequest"
            },
            "description": "Refresh token request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthenticationResponse"
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X POST https://api.smartling.com/files-api/v2/auth-api/v2/authenticate/refresh \\\n  -H 'content-type: application/json' \\\n  -d '{\"refreshToken\": \"eyJhbGciO...\"}'\n"
          }
        ]
      }
    },
    "/accounts-api/v2/accounts/{accountUid}/projects": {
      "get": {
        "summary": "List projects",
        "description": "Returns the list of projects for the account.\n",
        "tags": [
          "Account & Projects"
        ],
        "parameters": [
          {
            "name": "accountUid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectNameFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Substring search of the name of the project. Search is case insensitive."
          },
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicator whether or not archived projects should be returned. Defaults to false if not specified."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Standard Smartling limit and offset to paginate through results."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Standard Smartling limit and offset to paginate through results. 500 projects are returned by default if not specified."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountAPIProjectListSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "totalCount": 2,
                    "items": [
                      {
                        "projectId": "fd7244365",
                        "projectName": "Android XML Content",
                        "accountUid": "at724e365",
                        "archived": false,
                        "projectTypeCode": "APPLICATION_RESOURCES",
                        "sourceLocaleId": "en-US",
                        "sourceLocaleDescription": "English"
                      },
                      {
                        "projectId": "eqb7243x5",
                        "projectName": "Marketing Website GDN",
                        "accountUid": "at724e365",
                        "archived": false,
                        "projectTypeCode": "GDN",
                        "sourceLocaleId": "en-US",
                        "sourceLocaleDescription": "English"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/projects-api/v2/projects/{projectId}": {
      "get": {
        "summary": "Get project details",
        "description": "Returns the details of a project.\n",
        "tags": [
          "Account & Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeDisabledLocales",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Indicator whether or not disabled locales configured for the project should be returned as part of the targetLocales. By default disabled target locales are not returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectDetailsSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": [
                    {
                      "projectId": "fd7244365",
                      "projectName": "Android XML Content",
                      "accountUid": "at724e365",
                      "archived": false,
                      "projectTypeCode": "APPLICATION_RESOURCES",
                      "sourceLocaleId": "en-US",
                      "sourceLocaleDescription": "English",
                      "targetLocales": [
                        {
                          "localeId": "de-DE",
                          "description": "German (Germany)",
                          "enabled": true
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/projects-api/v2/projects/{projectId}/targetLocales": {
      "post": {
        "summary": "Add a new target locale",
        "description": "Add a new target locale to the project.\n",
        "tags": [
          "Account & Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "addLocaleRequest",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "localeId": {
                  "description": "The locale identifier (localeId) of the locale to be added to the project.",
                  "type": "string",
                  "example": "ru-RU"
                },
                "defaultWorkflowUid": {
                  "description": "The default workflow that should be used when content is authorized. If not specified, the default workflow configured for the project will be used.",
                  "type": "string",
                  "example": "ac48ht4qy"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectDetailsSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": [
                    {
                      "projectId": "fd7244365",
                      "projectName": "Android XML Content",
                      "accountUid": "at724e365",
                      "archived": false,
                      "projectTypeCode": "APPLICATION_RESOURCES",
                      "sourceLocaleId": "en-US",
                      "sourceLocaleDescription": "English",
                      "targetLocales": [
                        {
                          "localeId": "de-DE",
                          "description": "German (Germany)",
                          "enabled": true
                        },
                        {
                          "localeId": "ru-RU",
                          "description": "Russian (Russia)",
                          "enabled": true
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/projects-api/v2/projects/{projectId}/copy": {
      "post": {
        "summary": "Copy an existing project",
        "description": "Make a copy of an existing project, thereby creating a new one with a new name\n",
        "tags": [
          "Account & Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "copyProject",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "projectName": {
                  "description": "The name of the new project to create.",
                  "type": "string",
                  "example": "New Android Project"
                },
                "targetLocaleIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The list of target locales the new project should be created for. Note, each target locale specified must valid within the source project you are copying, i.e. you can copy all or a subset of locales from the source project to the target project.",
                  "example": [
                    "ru-RU"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectCopySuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "processUid": "7908ae61-3489-48e1-9e28-10652634d34e"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/projects-api/v2/projects/{projectId}/copy/{processUid}": {
      "get": {
        "summary": "Get the status of the project copy request",
        "description": "Used to check if the copy project request is complete and to retrieve the new projectId\n",
        "tags": [
          "Account & Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "processUid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The uid of the process to check for"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectCopyProcessSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "processuid": "7908ae61-3489-48e1-9e28-10652634d34e",
                    "newProjectUid": "8t7q4d643",
                    "processState": "OPEN",
                    "createdDate": "2016-08-21T0B1:51:17Z",
                    "modifiedDate": "2016-08-21T0B1:51:17Z",
                    "processStatistics": {
                      "requested": 8,
                      "processed": 6,
                      "errored": 0,
                      "skipped": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/locales-api/v2/dictionary/locales": {
      "get": {
        "summary": "List locales",
        "description": "The list of available locales within Smartling.\n",
        "tags": [
          "Locales"
        ],
        "parameters": [
          {
            "name": "localeIds",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Optional parameter to filter to the specified list of locales."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LocalesAPISuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "totalCount": 2,
                    "items": [
                      {
                        "localeId": "en",
                        "description": "English",
                        "language": {
                          "languageId": "en",
                          "description": "English",
                          "direction": "RTL",
                          "wordDelimiter": "CHARACTER"
                        },
                        "country": null
                      },
                      {
                        "localeId": "en-US",
                        "description": "English (United States)",
                        "language": {
                          "languageId": "en",
                          "description": "English",
                          "direction": "RTL",
                          "wordDelimiter": "CHARACTER"
                        },
                        "country": {
                          "countryId": "US",
                          "description": "United States"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file": {
      "post": {
        "summary": "Upload file",
        "description": "This uploads original source content to Smartling. \n\n**Example**\n```bash\n  curl -X POST -H \"Authorization: Bearer {token}\" -F \"file=@file.properties;type=text/plain\" -F \"fileUri=file.properties\"  -F \"fileType=javaProperties\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/file'\n```\n\nThe example above will upload your Java properties file directly into the Smartling project identified by the `projectId`. Smartling will ingest this file, parse out the keys and text as strings for translation. At this point, content is ready for translation. \n",
        "tags": [
          "Files"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uid",
            "description": "A unique identifier for a project."
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "The file contents to upload."
          },
          {
            "name": "fileUri",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "A value that uniquely identifies the uploaded file. This ID can be used to request the file back. We recommend that you use file path and file name, similar to how version control systems identify the file. \n\nExample: `/myproject/i18n/ui.properties`\n"
          },
          {
            "name": "fileType",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "A unique identifier for the file type.",
            "enum": [
              "android",
              "ios",
              "gettext",
              "html",
              "javaProperties",
              "yaml",
              "xliff",
              "xml",
              "json",
              "docx",
              "pptx",
              "xlsx",
              "idml",
              "qt",
              "resx",
              "plaintext",
              "cvs",
              "srt",
              "stringsdict",
              "phpResource",
              "freemaker",
              "xls",
              "doc",
              "ppt",
              "pres",
              "madcap",
              "xliffCat"
            ]
          },
          {
            "name": "authorize",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Determines whether content in the file is authorized (available for translation) in all locales upon submitting the file via the Smartling Dashboard. An error message will be returned if there are insufficient translation funds and authorized is set to `true`. If a string has been completely excluded for translation from all languages, or excluded from translation for a specific language, `authorize` will NOT authorize it. \n\nTo specify a limited list of locales to authorize, use the `localeIdsToAuthorize[]` parameter.\n\n  Value | Description\n  ----- | -----------\n  true |  Content will be available for translation in all locales upon upload.\n  false |  Content will be added to the \"Awaiting Authorization\" queue upon upload.\n"
          },
          {
            "name": "localeIdsToAuthorize[]",
            "in": "formData",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "This value, if set, authorizes strings for translation into specific locales. Use the `project/locale/list` call to get the list of locales for the project, or view them in the dashboard on the API settings page. Use multiple the `localeIdsToAuthorize` parameter pairs to authorize more than one locale. You can add languages by uploading the file again and indicating the language to authorize with `localeIdsToAuthorize` or all languages with `authorize`, or in the dashboard using the \"Show Partially Authorized\" filter option from the Awaiting Authorization list. \n\nIf the string has been completely excluded for translation from all languages, or excluded from translation for a specific language, `localesIdsToAuthorize` will NOT authorize it. \n\n**Note**: Do not set the `authorize` parameter to `true` if you want to specify individual locales to authorize. Submitting an upload with both of these parameters set will result in a validation error.\n"
          },
          {
            "name": "smartling.namespace",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "This is only for accounts created after July 31st, 2015. Define a custom [namespace](https://help.smartling.com/hc/en-us/articles/360008143833) for the file. \n\n**Note**: While this parameter shares the format of other file directives, it will not work as an inline directive and must be specified in the API call.\n"
          },
          {
            "name": "smartling.file_charset",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Specifies a custom charset for text-format files. The value should be the name of the character set. See a full list of supported character sets here.\n\nIf this directive is not used, Smartling will use the ```Content-Type``` request header to determine if the content is encoded with UTF-16, UTF-16B or UTF-16LE. If there is no ```Content-Type``` header, Smartling will examine the file for UTF-16 characters. If none are detected, UTF-8 encoding will be used.\n\n**Note**: Once this property has been set for a file, it cannot be changed. If you reupload the file, it will use the original charset, even if you change the directive. An error will be returned if this directive is used when uploading binary-format file types, such as Office or IDML files.\n"
          },
          {
            "name": "smartling.[command]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Provides custom parser configuration for supported file types. See [Supported File Types](https://help.smartling.com/hc/en-us/articles/360007998893) for more details.\n"
          },
          {
            "name": "callbackUrl",
            "in": "formData",
            "required": false,
            "type": "string",
            "format": "url",
            "description": "A GET request that creates a callback to a URL when a file is 100% published for a locale. The callback gives the fileUri and locale with the format `http[/s]://your.url?locale=xx-XX&fileUri=your.file`. If you upload the file again, without a callbackUrl, it will remove any previous callbackUrl for that file. The RequestBin (http://requestb.in) service is a convenient way to test a callback. RequestBin generates a short-lived disposable URL that displays all posted requests.\n\nIf a callback fails, Smartling will make multiple attempts to reach the designated URL. However, we do not keep retrying a failed callback indefinitely. Try to make sure your callback URL is as stable as possible and be aware that callbacks are not a 100% reliable way of being notified that a file is published.\n\nIf the upload has begun but is taking more than a minute to complete, it responds with a `202` status.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FilesAPIUploadSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "overWritten": true,
                    "stringCount": 10,
                    "wordCount": 2
                  }
                }
              }
            }
          },
          "202": {
            "description": "ACCEPTED",
            "schema": {
              "$ref": "#/definitions/FilesAPIUploadAcceptedResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "message": "Your file was successfully uploaded. Word and string counts are not available right now."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "423": {
            "description": "The requested file is currently being processed by another operation. The file will be unlocked after the operation completes.",
            "schema": {
              "$ref": "#/definitions/Error423Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "RESOURCE_LOCKED",
                  "errors": {
                    "key": "resource.locked",
                    "message": "The file is currently being processed and will be available in a few minutes."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      },
      "get": {
        "summary": "Download source file",
        "description": "This downloads the original version of the requested file from Smartling.\n\n**Example:**\n```bash\n  curl -H \"Authorization: Bearer {token}\" \"https://api.smartling.com/files-api/v2/projects/{projectId}/file?fileUri={your-file-URI}\"\n```\n\nIt is important to check the HTTP response status code. If Smartling finds and returns the file normally, you will receive a `200` SUCCESS response. If you receive a response status code other than `200`, the requested file will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests for that file will have a character encoding of UTF-16. All other uploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get request to determine the character encoding.\n\nThe filename is based on the fileUri associated with the requested file. In most cases, the filename is exactly the fileUri provided. The only exception to this is with .pot gettext files. When a .pot file is specified as the fileUri, Smartling returns a .po file.\n  \n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A unique identifier for a project."
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Value that uniquely identifies the downloaded file."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file/status": {
      "get": {
        "summary": "Status of file for each locale",
        "description": "Returns information on a specific file. \n\n**Example:**\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/file/status?fileUri=file.properties'\n```\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A unique identifier for a project."
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Smartling value that uniquely identifies a file in Smartling"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FilesAPIStatusAllLocalesSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "fileUri": "/files/test_translation_import.csv",
                    "lastUploaded": "2017-09-06T20:29:15Z",
                    "created": "2017-09-06T20:29:15Z",
                    "fileType": "csv",
                    "parserVersion": 4,
                    "hasInstructions": false,
                    "directives": {
                      "file_uri_as_namespace": "true"
                    },
                    "namespace": {
                      "name": "/files/test_trans_import.csv"
                    },
                    "totalStringCount": 1,
                    "totalWordCount": 1,
                    "totalCount": 1,
                    "items": [
                      {
                        "localeId": "ru-RU",
                        "authorizedStringCount": 0,
                        "authorizedWordCount": 0,
                        "completedStringCount": 0,
                        "completedWordCount": 0,
                        "excludedStringCount": 0,
                        "excludedWordCount": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/locales/{localeId}/file/status": {
      "get": {
        "summary": "Status of file for a single locale",
        "description": "Returns detailed status information on a specific file.\n\n**Example:**\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/locales/{localeId}/file/status?fileUri=file.properties'\n```\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A unique identifier for a project."
          },
          {
            "name": "localeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for a locale."
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Smartling value that uniquely identifies a file in Smartling"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FilesAPIStatusSingleLocaleSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "fileUri": "/files/4.properties",
                    "lastUploaded": "2017-05-27T12:45:36Z",
                    "created": "2017-05-27T12:45:36Z",
                    "fileType": "javaProperties",
                    "parserVersion": 4,
                    "hasInstructions": false,
                    "directives": null,
                    "namespace": null,
                    "totalStringCount": 5,
                    "totalWordCount": 9,
                    "authorizedStringCount": 4,
                    "authorizedWordCount": 5,
                    "completedStringCount": 0,
                    "completedWordCount": 0,
                    "excludedStringCount": 0,
                    "excludedWordCount": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/locales/{localeId}/file": {
      "get": {
        "summary": "Download translated file (single locale)",
        "description": "This downloads the requested file from Smartling.\n\nIt is important to check the HTTP response status code. If Smartling finds and returns the file normally, you will receive a `200` SUCCESS response. If you receive any other response status code than `200`, the requested file will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests for that file will have a character encoding of UTF-16. All other uploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get request to determine the character encoding.\n\n**Example:**\n```bash\n  curl -H \"Authorization: Bearer {token}\" \"https://api.smartling.com/files-api/v2/projects/{projectId}/locales/{localeId}/file?fileUri={your-file-Uri}\"\n```\n\n**Note**: The filename in response is based on the fileUri associated with the requested file. In most cases, the filename is exactly the fileUri provided. The only exception to this is with .pot gettext files. When a .pot file is specified as the fileUri, Smartling returns a .po file\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A unique identifier for a project."
          },
          {
            "name": "localeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for a locale."
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Value that uniquely identifies the downloaded file"
          },
          {
            "name": "retrievalType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Determines the desired format for the download. Applies to translated files only.\n\n| retrievalType | Description |\n|---------------|-------------|\n| pending | Smartling returns any translations (including non-published translations)|\n| published | Smartling returns only published/pre-published translations.|\n| pseudo | Smartling returns a modified version of the original text with certain characters transformed and the text expanded. For example, the uploaded string \"This is a sample string\", will return as \"T~hís ~ís á s~ámpl~é str~íñg\". Pseudo translations enable you to test how a longer string integrates into your application.|\n| contextMatchingInstrumented | Smartling returns a modified version of the original file with strings wrapped in a specific set of Unicode symbols that can later be recognized and matched by the Chrome Context Capture Extension.|\n",
            "enum": [
              "pending",
              "published",
              "pseudo",
              "contextMatchingInstrumented"
            ]
          },
          {
            "name": "includeOriginalStrings",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether Smartling will return the original string or an empty string where no translation is available. This parameter is only supported for gettext, Java properties, custom XML, and JSON files.\n\n| Value | Description |\n|-------|-------------|\n| true | If there is no translation, Smartling returns the original string. |\n| false | If there is no translation, Smartling returns an empty string. |\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/locales/all/file/zip": {
      "get": {
        "summary": "Download all translations of file",
        "description": "Download a ZIP archive with all translations for the requested file.\n\nUnlike the \"Download translated file\" endpoint, you get a ZIP archive with all translations of a specific file.\n\nIt is important to check the HTTP response status code. If Smartling finds and returns the file normally, you will receive a `200` SUCCESS response. If you receive any other response status code than `200`, the requested files will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests for that file will have a character encoding of UTF-16. All other uploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get request to determine the character encoding.\n\n**Example:**\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/locales/all/file/zip?fileUri=yourfile.json&retrievalType=published'\n```\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A unique identifier for a project."
          },
          {
            "name": "fileUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Smartling value that uniquely identifies a file in Smartling"
          },
          {
            "name": "retrievalType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "pending",
              "published",
              "pseudo",
              "contextMatchingInstrumented"
            ],
            "description": "Determines the desired format for the download. Applies to translated files only.\n\n| retrievalType | Description |\n|---------------|-------------|\n| pending | Smartling returns any translations (including non-published translations).|\n| published | Smartling returns only published/pre-published translations.|\n| pseudo | Smartling returns a modified version of the original text with certain characters transformed, and the text expanded. For example, the uploaded string \"This is a sample string\", will return as \"T~hís ~ís á s~ámpl~é str~íñg\". Pseudo translations enable you to test how a longer string integrates into your application.|\n| contextMatchingInstrumented | Smartling returns a modified version of the original file with strings wrapped in a specific set of Unicode symbols that can later be recognized and matched by the Chrome Context Capture Extension.|\n"
          },
          {
            "name": "includeOriginalStrings",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether Smartling will return the original string or an empty string where no translation is available. This parameter is only supported for gettext, Java properties, custom XML, and JSON files.\n\n| Value | Description |\n|-------|-------------|\n| true | If there is no translation, Smartling returns the original string. |\n| false | If there is no translation, Smartling returns an empty string. |\n"
          },
          {
            "name": "zipFileName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Name for the downloaded zip file. If unset, the default is ```translations.zip```"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/files/zip": {
      "get": {
        "summary": "Download multiple translated files",
        "description": "Download ZIP archive with the requested translated files.\n\nUnlike \"Download all translations of the file\" you can specify multiple file URIs and locale IDs to select which\nfiles and languages you want to download.\n\nIt is important to check the HTTP response status code. If Smartling finds and returns the file normally, you will receive a `200` SUCCESS response. If you receive any other response status code than `200`, the requested files will not be part of the response.\n\nWhen you upload a UTF-16 character encoded file, then /file/get requests for that file will have a character encoding of UTF-16. All other uploaded files will return with a character encoding of UTF-8.\n\nYou can always use the content-type header in the response of a file/get request to determine the character encoding.\n\n**Example:**\n```bash\n  curl -X GET -H \"Authorization: Bearer {token}\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/files/zip?localeIds[]=de-DE&fileUris[]=yourfile.json'\n```\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A unique identifier for a project."
          },
          {
            "name": "fileUris[]",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Smartling values that each uniquely identify a file."
          },
          {
            "name": "localeIds[]",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "List of locales to download."
          },
          {
            "name": "retrievalType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "pending",
              "published",
              "pseudo",
              "contextMatchingInstrumented"
            ],
            "description": "Determines the desired format for the download. Applies only to translated files.\n\n| retrievalType | Description |\n|---------------|-------------|\n| pending | Smartling returns any translations (including non-published translations)|\n| published | Smartling returns only published/pre-published translations.|\n| pseudo | Smartling returns a modified version of the original text with certain characters transformed and the text expanded. For example, the uploaded string \"This is a sample string\", will return as \"T~hís ~ís á s~ámpl~é str~íñg\". Pseudo translations enable you to test how a longer string integrates into your application.|\n| contextMatchingInstrumented | Smartling returns a modified version of the original file with strings wrapped in a specific set of Unicode symbols that can later be recognized and matched by the Chrome Context Capture Extension.|\n"
          },
          {
            "name": "includeOriginalStrings",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether Smartling will return the original string or an empty string where no translation is available. This parameter is only supported for gettext, Java properties, custom XML, and JSON files.\n\n| Value | Description |\n|-------|-------------|\n| true | If there is no translation, Smartling returns the original string. |\n| false | If there is no translation, Smartling returns an empty string. |\n"
          },
          {
            "name": "fileNameMode",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNCHANGED",
              "TRIM_LEADING",
              "LOCALE_LAST"
            ],
            "description": "Determines how files in the ZIP file will be named. If not set, the full original file path will be used as the filename.\n\n| fileNameMode | Description |\n|--------------|-------------|\n| UNCHANGED | Full original file path is used |\n| TRIM_LEADING | Remove all except the last path segment. e.g. ```/en/strings/nav.properties``` becomes ```nav.properties```|\n| LOCALE_LAST | Adds a locale folder to the file path directly before the filename. e.g. ```/strings/nav.properties``` becomes ```/strings/en/nav.properties``` |\n"
          },
          {
            "name": "localeMode",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "LOCALE_IN_PATH",
              "LOCALE_IN_NAME",
              "LOCALE_IN_NAME_AND_PATH"
            ],
            "description": "Determines how locales will be handled in the downloaded zip\n\n| localeMode | Description |\n|------------|-------------|\n| LOCALE_IN_PATH | Locale code is added to the end of the file path. e.g. ```/strings/es-ES/nav.properties```. |\n| LOCALE_IN_NAME | Locale code is added to the end of the file name e.g. ```/strings/nav_es-ES.properties```. |\n| LOCALE_IN_NAME_AND_PATH | Locale code is added to both the path and the filename. e.g. ```/strings/es-ES/nav_es-ES.properties```. |\n"
          },
          {
            "name": "zipFileName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Name for the downloaded ZIP file. If unset, default is ```translations.zip```"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/files/list": {
      "get": {
        "summary": "List recently uploaded files",
        "description": "This lists recently uploaded files, and returns a maximum of 100 files.\n\n**Example:**\n```bash\n  curl -H \"Authorization: Bearer {token}\" \"https://api.smartling.com/files-api/v2/projects/{projectId}/files/list?fileTypes[]=json&uriMask=strings\"\n```\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A unique identifier for a project."
          },
          {
            "name": "uriMask",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Returns only files with a URI containing the given substring. Case is ignored. For example, the value ```.json``` will match ```strings.json``` and ```STRINGS.JSON``` but not ```json.strings```"
          },
          {
            "name": "fileTypes[]",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "android",
                "ios",
                "gettext",
                "html",
                "javaProperties",
                "yaml",
                "xliff",
                "xml",
                "json",
                "docx",
                "pptx",
                "xlsx",
                "idml",
                "qt",
                "resx",
                "plaintext",
                "cvs",
                "srt",
                "stringsdict",
                "phpResource",
                "freemaker",
                "xls",
                "doc",
                "ppt",
                "pres",
                "madcap",
                "xliffCat"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "lastUploadedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "YYYY-MM-DDThh:mm:ssZ",
            "description": "Returns all files uploaded after the specified date."
          },
          {
            "name": "lastUploadedBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "YYYY-MM-DDThh:mm:ssZ",
            "description": "Returns all files uploaded before the specified date."
          },
          {
            "name": "orderBy",
            "in": "query",
            "type": "string",
            "description": "Sets the name and direction of the parameter to order results by. If ascending or descending is not specified, the default is ascending",
            "enum": [
              "created",
              "fileUri",
              "lastUploaded",
              "created_asc",
              "created_desc",
              "fileUri_asc",
              "fileUri_desc",
              "lastUploaded_asc",
              "lastUploaded_desc"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 100,
            "description": "In order to get consistent pagination, make sure to specify the ```orderBy``` parameter.\n"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "Standard Smartling limit and offset to paginate through results."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FilesAPIListFilesSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "totalCount": 2,
                    "items": [
                      {
                        "fileUri": "/files/translation_import.csv",
                        "created": "2017-09-06T20:29:15Z",
                        "lastUploaded": "2017-09-06T20:29:15Z",
                        "fileType": "csv",
                        "hasInstructions": false
                      },
                      {
                        "fileUri": "/files/4.properties",
                        "created": "2017-05-27T12:45:36Z",
                        "lastUploaded": "2017-05-27T12:45:36Z",
                        "fileType": "javaProperties",
                        "hasInstructions": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file-types": {
      "get": {
        "summary": "List all file types",
        "description": "This returns a list of all file types currently represented in the project.\n\n**Example:**\n```bash\n  curl -H \"Authorization: Bearer {token}\" \"https://api.smartling.com/files-api/v2/projects/{projectId}/file-types\"\n```\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A unique identifier for a project."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FilesAPIListFileTypesSuccessResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": {
                    "items": [
                      "csv",
                      "javaProperties"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file/rename": {
      "post": {
        "summary": "Rename file",
        "description": "This renames an uploaded file by changing the `fileUri`. After renaming the file, it will only be identified by the new `fileUri` that you provide.\n\n**Example:**\n```bash\n  curl -X POST -H \"Authorization: Bearer {token}\" -F \"fileUri=filename.properties\" -F \"newFileUri=filename2.properties\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/file/rename'\n```\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A unique identifier for a project."
          },
          {
            "name": "fileUri",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Current value that uniquely identifies the file"
          },
          {
            "name": "newFileUri",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The new value for fileUri. We recommend that you use file path and file name, similar to how version control systems identify the file. Example: /myproject/i18n/ui.properties. This must be a fileUri that does not exist in the current Smartling project.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "SUCCESS",
                  "data": null
                }
              }
            }
          },
          "400": {
            "description": "Provided request parameters are invalid.",
            "schema": {
              "$ref": "#/definitions/Error400Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "VALIDATION_ERROR",
                  "errors": {
                    "key": "unknown.field",
                    "message": "The field unknown.parameter was not expected. Please consult the documentation to verify the fields you are submitting.",
                    "details": "unknown.parameter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided credentials are not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "AUTHENTICATION_ERROR",
                  "errors": {
                    "key": "invalid_token",
                    "message": "Invalid token",
                    "details": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many simultaneous API requests.",
            "schema": {
              "$ref": "#/definitions/Error429Response"
            },
            "examples": {
              "application/json": {
                "response": {
                  "code": "MAX_OPERATIONS_LIMIT_EXCEEDED",
                  "errors": {
                    "key": "too.many.requests",
                    "message": "The limit of 10 concurrent Smartling file API operations for this project has been exceeded."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error500Response"
            }
          }
        }
      }
    },
    "/files-api/v2/projects/{projectId}/file/delete": {
      "post": {
        "summary": "Delete file",
        "description": "This removes the file from Smartling. The file will no longer be available for download. Any complete translations for the file remain available for use within the system.\n\nSmartling deletes files asynchronously and it typically takes a few minutes to complete. While deleting a file, you can not upload a file with the same `fileUri`.\n\n**Example:**\n```bash\n  curl -X POST -H \"Authorization: Bearer {token}\" -F \"fileUri=filename.properties\" 'https://api.smartling.com/files-api/v2/projects/{projectId}/file/delete'\n```\n",
[...]
