{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "api.smartling.com",
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "info": {
    "title": "Smartling REST API Reference",
    "description": "Before you begin using the Smartling APIs, we recommend going through our [Getting Started](https://help.smartling.com/hc/en-us/sections/360001644894) section.\n",
    "version": "2.0.0",
    "termsOfService": "https://www.smartling.com/about/terms-and-conditions/",
    "contact": {
      "email": "support@smartling.com"
    },
    "x-logo": {
      "url": "smartling_logo.png"
    }
  },
  "externalDocs": {
    "description": "Smartling Help Center",
    "url": "https://help.smartling.com"
  },
  "paths": {
    "/translation-quality-api/v2/dictionary/check-types": {
      "$ref": "./spec/translation_quality/dictionaries.yaml#/definitions/dictionary_checkTypes"
    },
    "/translation-quality-api/v2/dictionary/check-types/{checkTypeCode}/sub-types": {
      "$ref": "./spec/translation_quality/dictionaries.yaml#/definitions/dictionary_checkType_subTypes"
    },
    "/translation-quality-api/v2/dictionary/severity-levels": {
      "$ref": "./spec/translation_quality/dictionaries.yaml#/definitions/dictionary_severity_levels"
    },
    "/translation-quality-api/v2/dictionary/check-types/GLOSSARY_COMPLIANCE/match-methods": {
      "$ref": "./spec/translation_quality/dictionaries.yaml#/definitions/dictionary_checkType_GLOSSARY_COMPLIANCE_match_methods"
    },
    "/translation-quality-api/v2/dictionary/check-types/TRADEMARK_CONSISTENCY/trademark-types": {
      "$ref": "./spec/translation_quality/dictionaries.yaml#/definitions/dictionary_checkType_TRADEMARK_CONSISTENCY_trademark_types"
    },
    "/translation-quality-api/v2/users/current/settings/dictionaries/{localeId}": {
      "$ref": "./spec/translation_quality/dictionaries.yaml#/definitions/users_current_settings_dictionaries_locale"
    },
    "/translation-quality-api/v2/users/current/settings/dictionaries/{localeId}/{wordUid}": {
      "$ref": "./spec/translation_quality/dictionaries.yaml#/definitions/users_current_settings_dictionaries_locale_word"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/severity-level": {
      "$ref": "./spec/translation_quality/severity_levels/check_type_severity_level.yaml#/definitions/check_type_severity_level"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/sub-types/{checkSubTypeCode}/severity-level": {
      "$ref": "./spec/translation_quality/severity_levels/check_type_severity_level.yaml#/definitions/check_type_subtype_severity_level"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/severity-level/reset": {
      "$ref": "./spec/translation_quality/severity_levels/check_type_severity_level.yaml#/definitions/check_type_severity_level_reset"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/sub-types/{checkSubTypeCode}/severity-level": {
      "$ref": "./spec/translation_quality/severity_levels/check_type_severity_level.yaml#/definitions/check_type_group_subtype_severity_level"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups": {
      "$ref": "./spec/translation_quality/account_settings.yaml#/definitions/check_type_groups"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}": {
      "$ref": "./spec/translation_quality/account_settings.yaml#/definitions/check_type_groups_group"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/locales": {
      "$ref": "./spec/translation_quality/account_settings.yaml#/definitions/check_type_groups_group_locales"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/locales/{targetLocaleId}": {
      "$ref": "./spec/translation_quality/account_settings.yaml#/definitions/check_type_groups_group_locales_locale"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/{checkTypeCode}/groups/{groupUid}/severity-level": {
      "$ref": "./spec/translation_quality/severity_levels/check_type_severity_level.yaml#/definitions/check_type_group_severity_level"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types": {
      "$ref": "./spec/translation_quality/checks/accounts.yaml#/definitions/check_types_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/SEGMENT_COMPLETENESS/settings": {
      "$ref": "./spec/translation_quality/checks/segment_completeness.yaml#/definitions/check_types_SEGMENT_COMPLETENESS_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/SEGMENT_COMPLETENESS/groups/{groupUid}/settings": {
      "$ref": "./spec/translation_quality/checks/segment_completeness.yaml#/definitions/check_types_SEGMENT_COMPLETENESS_group_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/ORIGINAL_EQUALS_TARGET/settings": {
      "$ref": "./spec/translation_quality/checks/original_equals_target.yaml#/definitions/check_types_ORIGINAL_EQUALS_TARGET_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/ORIGINAL_EQUALS_TARGET/groups/{groupUid}/settings": {
      "$ref": "./spec/translation_quality/checks/original_equals_target.yaml#/definitions/check_types_ORIGINAL_EQUALS_TARGET_group_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/EMOJI_CONSISTENCY/settings": {
      "$ref": "./spec/translation_quality/checks/emoji_consistency.yaml#/definitions/check_types_EMOJI_CONSISTENCY_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/EMOJI_CONSISTENCY/groups/{groupUid}/settings": {
      "$ref": "./spec/translation_quality/checks/emoji_consistency.yaml#/definitions/check_types_EMOJI_CONSISTENCY_group_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/SPELLCHECK/settings": {
      "$ref": "./spec/translation_quality/checks/spellcheck.yaml#/definitions/check_types_SPELLCHECK_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/SPELLCHECK/groups/{groupUid}/settings": {
      "$ref": "./spec/translation_quality/checks/spellcheck.yaml#/definitions/check_types_SPELLCHECK_group_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/SOURCE_IN_WRONG_LANGUAGE/settings": {
      "$ref": "./spec/translation_quality/checks/source_in_wrong_language.yaml#/definitions/check_types_SOURCE_IN_WRONG_LANGUAGE_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/SOURCE_IN_WRONG_LANGUAGE/groups/{groupUid}/settings": {
      "$ref": "./spec/translation_quality/checks/source_in_wrong_language.yaml#/definitions/check_types_SOURCE_IN_WRONG_LANGUAGE_group_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/TARGET_IN_WRONG_LANGUAGE/settings": {
      "$ref": "./spec/translation_quality/checks/target_in_wrong_language.yaml#/definitions/check_types_TARGET_IN_WRONG_LANGUAGE_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/TARGET_IN_WRONG_LANGUAGE/groups/{groupUid}/settings": {
      "$ref": "./spec/translation_quality/checks/target_in_wrong_language.yaml#/definitions/check_types_TARGET_IN_WRONG_LANGUAGE_groups_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/NUMBER_CONSISTENCY/settings": {
      "$ref": "./spec/translation_quality/checks/number_consistency.yaml#/definitions/path_check_types_NUMBER_CONSISTENCY_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/NUMBER_CONSISTENCY/groups/{groupUid}/settings": {
      "$ref": "./spec/translation_quality/checks/number_consistency.yaml#/definitions/path_check_types_NUMBER_CONSISTENCY_groups_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/TARGET_SOURCE_CONSISTENCY/settings": {
      "$ref": "./spec/translation_quality/checks/target_source_consistency.yaml#/definitions/check_types_TARGET_SOURCE_CONSISTENCY_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/TARGET_SOURCE_CONSISTENCY/groups/{groupUid}/settings": {
      "$ref": "./spec/translation_quality/checks/target_source_consistency.yaml#/definitions/check_types_TARGET_SOURCE_CONSISTENCY_group_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/GLOSSARY_COMPLIANCE/settings": {
      "$ref": "./spec/translation_quality/checks/glossary_compliance.yaml#/definitions/check_types_GLOSSARY_COMPLIANCE_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/GLOSSARY_COMPLIANCE/groups/{groupUid}/settings": {
      "$ref": "./spec/translation_quality/checks/glossary_compliance.yaml#/definitions/check_types_GLOSSARY_COMPLIANCE_group_settings"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/LEADING_TRAILING_SPACES": {
      "$ref": "./spec/translation_quality/checks/leading_trailing_spaces.yaml#/definitions/account_check_types_LEADING_TRAILING_SPACES_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/ORIGINAL_EQUALS_TARGET": {
      "$ref": "./spec/translation_quality/checks/original_equals_target.yaml#/definitions/account_check_types_ORIGINAL_EQUALS_TARGET_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/WHITESPACES": {
      "$ref": "./spec/translation_quality/checks/whitespaces.yaml#/definitions/account_check_types_WHITESPACES_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/SPELLCHECK": {
      "$ref": "./spec/translation_quality/checks/spellcheck.yaml#/definitions/account_check_types_SPELLCHECK_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/UNCATEGORIZED": {
      "$ref": "./spec/translation_quality/checks/uncategorized.yaml#/definitions/account_check_types_UNCATEGORIZED_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/TAG_CONSISTENCY": {
      "$ref": "./spec/translation_quality/checks/tag_consistency.yaml#/definitions/account_check_types_TAG_CONSISTENCY_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/TARGET_LENGTH_LIMIT": {
      "$ref": "./spec/translation_quality/checks/target_length_limit.yaml#/definitions/account_check_types_TARGET_LENGTH_LIMIT_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/NUMBER_CONSISTENCY": {
      "$ref": "./spec/translation_quality/checks/number_consistency.yaml#/definitions/account_check_types_NUMBER_CONSISTENCY_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/REPEATED_WORD": {
      "$ref": "./spec/translation_quality/checks/repeated_word.yaml#/definitions/account_check_types_REPEATED_WORD_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/TARGET_IN_WRONG_LANGUAGE": {
      "$ref": "./spec/translation_quality/checks/target_in_wrong_language.yaml#/definitions/account_check_types_TARGET_IN_WRONG_LANGUAGE_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/SOURCE_IN_WRONG_LANGUAGE": {
      "$ref": "./spec/translation_quality/checks/source_in_wrong_language.yaml#/definitions/account_check_types_SOURCE_IN_WRONG_LANGUAGE_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/SEGMENT_COMPLETENESS": {
      "$ref": "./spec/translation_quality/checks/segment_completeness.yaml#/definitions/account_check_types_SOUSEGMENT_COMPLETENESS_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/NON_TRANSLATABLE_TEXT": {
      "$ref": "./spec/translation_quality/checks/non_translatable_text.yaml#/definitions/account_check_types_NON_TRANSLATABLE_TEXT_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/EMOJI_CONSISTENCY": {
      "$ref": "./spec/translation_quality/checks/emoji_consistency.yaml#/definitions/account_check_types_EMOJI_CONSISTENCY_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/TAG_VALIDITY": {
      "$ref": "./spec/translation_quality/checks/tag_validity.yaml#/definitions/account_check_types_TAG_VALIDITY_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/INSERTABLE_CONSISTENCY": {
      "$ref": "./spec/translation_quality/checks/insertable_consistency.yaml#/definitions/account_check_types_INSERTABLE_CONSISTENCY_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/TARGET_SOURCE_CONSISTENCY": {
      "$ref": "./spec/translation_quality/checks/target_source_consistency.yaml#/definitions/account_check_types_TARGET_SOURCE_CONSISTENCY_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/BLACKLISTED_TERMS": {
      "$ref": "./spec/translation_quality/checks/blacklisted_terms.yaml#/definitions/account_check_types_BLACKLISTED_TERMS_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/GLOSSARY_COMPLIANCE": {
      "$ref": "./spec/translation_quality/checks/glossary_compliance.yaml#/definitions/account_check_types_GLOSSARY_COMPLIANCE_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/TRADEMARK_CONSISTENCY": {
      "$ref": "./spec/translation_quality/checks/trademark_consistency.yaml#/definitions/account_check_types_TRADEMARK_CONSISTENCY_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/GRAMMAR_CHECK": {
      "$ref": "./spec/translation_quality/checks/grammar_check.yaml#/definitions/account_check_types_GRAMMAR_CHECK_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/check-types/GLOBAL_CAPITALISATION_CONSISTENCY": {
      "$ref": "./spec/translation_quality/checks/global_capitalisation_consistency.yaml#/definitions/account_check_types_GLOBAL_CAPITALISATION_CONSISTENCY_settings_effective"
    },
    "/translation-quality-api/v2/accounts/{accountUid}/projects/{projectId}/check": {
      "$ref": "./spec/translation_quality/tqc_check.yaml#/definitions/tqc_check"
    }
  }
}
